include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4
                    | Registration Promos
                    button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                      i.fa.fa-plus
                      |  Add Promo
                  thead
                    tr
                      th
                        i.fa.fa-user
                        |  Name
                      th
                        i.fa.fa-calendar-alt
                        |  Duration
                      th
                        i.fa.fa-coins
                        |  Discount (%)
                      th
                        i.fa.fa-bookmark
                        |  Type
                      th
                        i.fa.fa-calendar-alt
                        |  Date Added
                      th
                        i.fa.fa-user
                        |  Added by
                      th
                        i.fa.fa-bookmark
                        |  Status
                      th
                        i.fa.fa-bookmark
                        |  Description 
                      th
                        i.fa.fa-edit
                        |  Action
                  tbody
                    each ds in discounts   
                      tr
                        td #{ds.promoname}
                        td #{ds.startdate} until #{ds.enddate}
                        td #{ds.discount}
                        td #{ds.promotype}
                        td  #{ds.Dateadded}
                        td #{ds.Addedby}
                        td
                          if ds.status == 'Active'
                            span.label.label-success
                              | #{ds.status}  
                          else if ds.status == 'Inactive'    
                            span.label.label-danger
                              | #{ds.status}  
                        td  #{ds.description}        
                        td
                          button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Edit Account', data-target='#editmodal' data-id=ds.promoID data-name=ds.promoname data-sdate=ds.startdate data-edate=ds.enddate data-disc=ds.discount)
                            i.fa.fa-edit
                          button.btn.btn-danger.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently' data-target='#deletemodal' data-id=ds.promoID)
                            i.fa.fa-trash-alt
            // /content-panel
    // MODAL ADD
    #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Promo
          form(action='/discount', method='POST' autocomplete='off' id='add-promo')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Promo Name
                        input#name.form-control(type='text' name='promoname' required onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='25')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Start Date
                        input#sdate.form-control(type='date' name='startdate' required)
                    .col-md-6
                      .form-group
                        label.control-label End Date
                        input.form-control(type='date' name='enddate' required)
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Discount (%)
                        input#disc.form-control(type='number' maxlength='3' name='discount' onkeypress='return restrictCharacters(this, event, numOnly)' min=5 max=100 required)
                    .col-md-6
                      .form-group
                        label.control-label Status
                        select.form-control(id='' name='status')
                          option.hidden Select Status..
                          option(value='Active') Active
                          option(value='Inactive') Inactive
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Type
                        select.form-control(id='' name='type')
                          option.hidden Select Type..
                          option(value='Member') Member
                          option(value='Non-Member') Non Member       
                  .row
                    .col-md-12
                      label.control-label Description
                      .form-group
                        textarea#prog-desc.form-control(style='resize:none', name='desc', rows='3' onkeypress='return restrictCharacters(this, event, alphaNumOnlyPlus)')
                  .row
                    .col-md-4
                      strong Promo Image 
                      input#upload(type='file', name='img' ,accept="image/*")

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(id='btn-add-promo') Add Discount
    // MODAL EDIT
    #editmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Promo
          form(action='/discount/edit', method='POST' id='edit-promo')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Name
                        input#name.form-control(type='text' name='promoname' required onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='25')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Start Date
                        input#sdate.form-control.datee(type='text' name='startdate')
                    .col-md-6
                      .form-group
                        label.control-label End Date
                        input#edate.form-control.datee(type='text' name='enddate')
                  .row
                    .col-md-6
                      .form-group
                        label.control-label Discount (%)
                        input#disc.form-control(type='number' maxlength='3' name='discount' onkeypress='return restrictCharacters(this, event, numOnly)' min=5 max=100 required)
                    .col-md-6
                      .form-group
                        label.control-label Status
                        select.form-control(id='' name='status')
                          option.hidden Select Status..
                          option(value='Active') Active
                          option(value='Inactive') Inactive
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(id='btn-edit-promo') Save

    // MODAL DELETE
    #deletemodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Promo
          form(action='/discount/delete', method='POST' id='del-promo')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this Promo?
                    input.hidden#id(type='text' name='id')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(id='btn-del-promo') Delete

include ../../../../templates/foot

script.
    $(document).ready(function(){
    $('#memdrop').addClass('active');
    $('#promo').addClass('active');
    });

    $('#editmodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      

        //id
        var id = button.data('id')
        var name = button.data('name')
        var edate = button.data('edate')
        var sdate = button.data('sdate')
        var disc = button.data('disc')
        console.log(disc)


        let modal = $(this)     
        modal.find('.modal-body #sdate').val(` ${sdate}`)  
        modal.find('.modal-body #edate').val(` ${edate}`)
        modal.find('.modal-body #disc').val(` ${disc}`)
        modal.find('.modal-body #id').val(` ${id}`)
        modal.find('.modal-body #name').val(` ${name}`)
    }) 
script.

    $('#deletemodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
       
        //id
        var id = button.data('id')
        console.log(id)

        let modal = $(this)     

        modal.find('.modal-body #id').val(` ${id}`)
    })

script.
  $(".datee").datepicker({
    changeMonth: true,
    changeYear: true,
    todayHighlight: true,
    maxViewMode: 2,
    startView: 0,
    autoclose: true,
    startDate: "today"
    });

    $(document).on('click', '#btn-add-promo', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
      title: 'Add this new promo?',
      text: 'Promo will be added to this roster.',
      type: 'info', 
      showCancelButton: true,
      cancelButtonColor: '#d33',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Promo added successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 1500
      });
      $('#add-promo').submit();
    }                        
    })
    });

    //sweet alert edit class
    $(document).on('click', '#btn-edit-promo', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
    title: 'Save Changes?',
    text: 'Updating this record will overwrite the previous record.',
    type: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Promo updated successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 5000
      });
      $('#edit-promo').submit();
    }                        
    })
    });

    //sweet alert delete class
    $(document).on('click', '#btn-del-promo', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
      title: 'Delete Promo?',
      text: 'You can no longer access this record once deleted.',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Promo deleted successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 5000
      });
    //- swal("Success!", "Class Deleted!", "success");
      $('#del-promo').submit();
    }                        
    })
    });

script.
  $(document).ready(function() {
      $('#btn-add-promo').bind("click",function() 
      { 
          var imgVal = $('#upload').val(); 
          if(imgVal=='') 
          { 
              alert("empty input file"); 
              return false; 
          } 


      }); 
  });

