include ../../../../templates/head

block main

  section#main-content
    section.wrapper.site-min-height
      .row.mt
        .col-md-12
          .content-panel
            .container-fluid
              table.table.table-striped.table-advance.table-hover
                h4
                  | All Membership Classes
                  button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                    i.fa.fa-dumbbell
                    |  Add Membership Class
                thead
                  tr
                    th
                      i.fa.fa-dumbbell
                      |  Name
                    th
                      i.fa.fa-calendar
                      |  Date Added
                    th
                      i.fa.fa-user
                      |  Added by
                    th
                      i.fa.fa-user
                      |  Description
                    th
                      i.fa.fa-edit
                      |  Action
                tbody
                  each hi in Hays
                    tr
                      td  #{hi.memclassname}
                      td  #{hi.Dateadded}
                      td  #{hi.addedby}
                      td  #{hi.memclassdesc}
                      td
                        //- button.btn.btn-info.btn-xs(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#viewmodal' data-name=hi.memclassname data-desc=hi.memclassdesc )
                        //-     i.fa.fa-search
                        button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Edit', data-target='#editmodal' data-name=hi.memclassname data-desc=hi.memclassdesc data-id=hi.memclassid)
                            i.fa.fa-edit
                        button.btn.btn-danger.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently' data-target='#deletemodal' data-id=hi.memclassid)
                            i.fa.fa-trash-alt
            // /content-panel
    // MODAL ADD MEMBERSHIP
    #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Membership Category
          form(action='/memclass', method='POST' automplete='off' id='add-mcla')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Membership Class Name
                        input.form-control(type='text' name='classname' required onkeypress='return restrictCharacters(this, event, alphaOnly)' pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two words.')
                  .row
                    .col-md-12
                      label.control-label Description
                      .form-group
                        textarea#prog-desc.form-control(style='resize:none', name='classdesc', rows='3' onkeypress='return restrictCharacters(this, event, alphaNumOnlyPlus)' pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two words.')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit' id='btn-add-mcla') Add Membership Class
    //VIEW MODAL
    #viewmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Membership Class Description
          form(action='', method='POST')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 
                          span#name
                  .row
                    .col-md-12
                      label.control-label Description
                      p
                        span#desc
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close    
    // MODAL EDIT MEMBER
    #editmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Membership Class
          form(action='/memclass/edit', method='POST' id='edit-mcla')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  input.hidden#id(type='text' name='id')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Class Name
                        input#name.form-control(type='text' name='classname' required onkeypress='return restrictCharacters(this, event, alphaOnly)' pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two words.')
                  .row
                    .col-md-12
                      label.control-label Description
                      .form-group
                        textarea#desc.form-control(style='resize:none', name='classdesc', rows='3' onkeypress='return restrictCharacters(this, event, alphaNumOnlyPlus)')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit' id='btn-edit-mcla') Save

    // MODAL DELETE
    #deletemodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Category
          form(action='/memclass/delete', method='POST' id='del-mcla')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this category?
                    input.hidden#id(type='text' name='id')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit' id='btn-del-mcla') Delete

include ../../../../templates/foot
script.

      $(document).ready(function(){
      $('#memdrop').addClass('active');
      $('#memclass').addClass('active');
      });

      $('#viewmodal').on('show.bs.modal', function(event){
          let button = $(event.relatedTarget) 
      
        //mobile
          let name = button.data('name')
        console.log(name)
      //email
         let desc = button.data('desc')
          console.log(desc)

          let modal = $(this)     
          modal.find('.modal-body span#name').text(` ${name}`)  
          modal.find('.modal-body span#desc').text(` ${desc}`)  
    })

script.

    $('#editmodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        var desc = button.data('desc')
        var name = button.data('name')
        var id = button.data('id')
        let modal = $(this)     
        modal.find('.modal-body #name').val(`${name}`)
        modal.find('.modal-body #desc').val(`${desc}`)
        modal.find('.modal-body #id').val(`${id}`)
    }) 
script.

    $('#deletemodal').on('show.bs.modal', function(event){
        var button = $(event.relatedTarget)      
        //id
        var id = button.data('id')
        console.log(id)


        let modal = $(this)     

        modal.find('.modal-body #id').val(`${id}`)
    })

    $(document).on('submit', '#btn-add-mcla', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
      title: 'Add this membership class?',
      text: 'This membership class will be added to the table.',
      type: 'info', 
      showCancelButton: true,
      cancelButtonColor: '#d33',
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Membership class added successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 1500
      });
      $('#add-mcla').submit();
    }                        
    })
    });

    //sweet alert edit class
    $(document).on('click', '#btn-edit-mcla', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
    title: 'Save Changes?',
    text: 'Updating this record will overwrite the previous record.',
    type: 'info',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Membership class updated successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 5000
      });
      $('#edit-mcla').submit();
    }                        
    })
    });

    //sweet alert delete class
    $(document).on('click', '#btn-del-mcla', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();

    swal({
      title: 'Delete Membership Class?',
      text: 'You can no longer access this record once deleted.',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
    if (result.value) {
      swal({
        title: 'Success!',
        text: 'Membership class deleted successfully!',
        type: 'success',
        showConfirmButton: false,
        timer: 5000
      });
    //- swal("Success!", "Class Deleted!", "success");
      $('#del-mcla').submit();
    }                        
    })
    });