include ../../../../templates/head

block main
  
    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4
                    | OR Number
                    button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
                      i.fa.fa-dumbbell
                      |  Add Number
                    tr
                      th
                        i.fa.fa-dumbbell
                        |  OR Number
                      th
                        i.fa.fa-calendar
                        |  Date Added
                      th
                        i.fa.fa-user
                        |  Added by
                      th
                        i.fa.fa-edit
                        |  Action
                    tbody
                      each r in ors
                        tr
                          td #{r.ornum}
                          td #{r.dateadded}
                          td #{r.addedby}
                          td
                            //- button#view.btn.btn-info.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='View Class', data-target='#viewmodal' data-name=cl.classname data-desc=cl.classdesc)
                            //-     i.fa.fa-search
                            button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Edit Class', data-target='#editmodal' data-id=r.orid )
                                i.fa.fa-edit
                            //- button.btn.btn-danger.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently' data-target='#deletemodal' data-id=cl.classID)
                            //-     i.fa.fa-trash-alt
              // /content-panel

    // MODAL DELETE
    #deletemodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Remove Class
          form(action='/classes/delete', method='POST' id='del-class')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        h4 Delete this official receipt?
                    input.hidden#id(type='text' name='id')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-default(type='submit' id='btn-del-class') Delete

    // MODAL ADD CLASS
    #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add Official Receipt
          form(action='/OR', method='POST' autocomplete='off' id='add-or')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label Code
                        input.form-control(type='text' name='code' onkeypress='return restrictCharacters(this, event, alphaNumOnlyD)' maxlength='50')
                  .row
                    .col-md-6
                        label.control-label Start
                        input.form-control(type='text' name='start' onkeypress='return restrictCharacters(this, event, floatOnly)' maxlength='50') 
                    .col-md-6
                        label.control-label End
                        input.form-control(type='text' name='end' onkeypress='return restrictCharacters(this, event, floatOnly)' maxlength='50')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(id='btn-add-or') Save
    // MODAL EDIT CLASS
    #editmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Edit Official Receipt
          form(action='/OR/edit', method='POST' autocomplete='off' id='edit-or')
            .modal-body
              .container-fluid
                .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
                  .row
                    .col-md-12
                      .form-group
                        label.control-label OR Number
                        input.form-control(type='text' name='OR' onkeypress='return restrictCharacters(this, event, alphanumericOnly)' maxlength='50' required)
                        input.hidden#id(name='edit')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(id='btn-edit-or') Save
    //- // MODAL VIEW
    //- #viewmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    //-         h4#myModalLabel.modal-title Class Description
    //-       form(action='', method='POST')
    //-         .modal-body
    //-           .container-fluid
    //-             .container-fluid(style='padding:1rem 4rem 1rem 4rem;')
    //-               .row
    //-                 .col-md-12
    //-                   .form-group
    //-                     h4 
    //-                       span#name
    //-               //.row
    //-                 .col-md-12
    //-                   .form-group
    //-                     label.control-label Classes
    //-                     li Strength Exercise
    //-                     li Zumba
    //-                     li Pilates
    //-               .row
    //-                 .col-md-12
    //-                   label.control-label Description
    //-                   p
    //-                     span#desc
    //-         .modal-footer
    //-           button.btn.btn-default(type='button', data-dismiss='modal') Close

include ../../../../templates/foot
//- script.

//-   $(document).ready(function(){
//-   $('#memdrop').addClass('active');
//-   $('#classes').addClass('active');
//-   });

//-   $('#viewmodal').on('show.bs.modal', function(event){
//-     let button = $(event.relatedTarget) 
//-     let name = button.data('name')
//-     console.log(name)
//-     let desc = button.data('desc')
//-     console.log(desc)
//-     let modal = $(this)     
//-     modal.find('.modal-body span#name').text(`${name}`)  
//-     modal.find('.modal-body span#desc').text(`${desc}`)  
//-   })

//- script.
//-     $('#editmodal').on('show.bs.modal', function(event){
//-         var button = $(event.relatedTarget)  
//-         var desc = button.data('desc')
//-         console.log(desc)
//-         //- var email = button.data('email')
//-         //- console.log(email)
//-         var name = button.data('name')
//-         console.log(name)
//-         //- var lname = button.data('lname')
//-         //- console.log(lname)
//-         var id = button.data('id')
//-         console.log(id)


//-         let modal = $(this)     
//-         //- modal.find('.modal-body #email').val(` ${email}`)  
//-         //- modal.find('.modal-body #mobile').val(` ${mobile}`)
//-         modal.find('.modal-body #name').val(`${name}`)
//-         modal.find('.modal-body #desc').val(`${desc}`)
//-         modal.find('.modal-body #id').val(`${id}`)
//-     }) 
script.

    $('#deletemodal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget)      
      var id = button.data('id')
      console.log(id)
      let modal = $(this)       
      modal.find('.modal-body #id').val(`${id}`)
    })

    	//sweet alert add class
      $(document).on('submit', '#btn-add-class', function(e) {
      var form = $(this).parents('form');
      e.preventDefault();

      swal({
        title: 'Add new OR?',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
      }).then((result) => {
        if (result.value) {
          swal("Success!", "New OR was Added!", "success");
          $('#add-class').submit();
        }                        
      })
    });

script.

  $('#editmodal').on('show.bs.modal', function(event){
  var button = $(event.relatedTarget)      

  var id = button.data('id')
  let modal = $(this)  
  modal.find('.modal-body #id').val(`${id}`)
    }) 
  
  $(document).on('submit', '#btn-add-or', function(e) {
  var form = $(this).parents('form');
  e.preventDefault();

  swal({
    title: 'Add official receipt?',
    text: 'The official receipt will be added to this table.',
    type: 'info', 
    showCancelButton: true,
    cancelButtonColor: '#d33',
    confirmButtonColor: '#3085d6',
    confirmButtonText: 'Yes'
  }).then((result) => {
  if (result.value) {
    swal({
      title: 'Success!',
      text: 'Receipt added successfully!',
      type: 'success',
      showConfirmButton: false,
      timer: 1500
    });
    $('#add-or').submit();
  }                        
  })
  });

  //sweet alert edit class
  $(document).on('click', '#btn-edit-or', function(e) {
  var form = $(this).parents('form');
  e.preventDefault();

  swal({
  title: 'Save Changes?',
  text: 'Updating this record will overwrite the previous one.',
  type: 'info',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes'
  }).then((result) => {
  if (result.value) {
    swal({
      title: 'Success!',
      text: 'Official receipt updated successfully!',
      type: 'success',
      showConfirmButton: false,
      timer: 5000
    });
    $('#edit-or').submit();
  }                        
  })
  });