include ../../../../templates/head

block main
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-md-12
					.content-panel
						.container-fluid
							table#table.table.table-striped.table-advance.table-hover
								h4
									| All Staffs
									button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='#add')
										i.fa.fa-user-plus
										|  Add Staff
								thead
									tr
										th
											i.fa.fa-user
											|  Name
										th
											i.fa.fa-calendar
											|  Date Added
										th
											i.fa.fa-user
											|  Added By
										th
											i.fa.fa-user
											|  Email
										th
											i.fa.fa-user
											|  Phone Number
										th
											i.fa.fa-bookmark
											|  Status	
										th
											i.fa.fa-edit
											|  Action	
								tbody 
									each st in staffs 
										tr 
											td #{st.userfname} #{st.userlname}
											td #{st.Dateadded}
											td #{st.addedby}
											td #{st.useremail}
											td #{st.usermobile}
											td
												if st.statusfront == 'Active'
													span.label.label-success
														| #{st.statusfront}
												else if st.statusfront == 'Inactive'
													span.label.label-danger
														| #{st.statusfront}
											td 
												- var fullname = st.userfname +" "+ st.userlname
												- console.log(fullname)
												button.btn.btn-info.btn-xs(data-toggle='modal', data-target='#viewmodal' data-id=st.userid data-fname=st.userfname data-lname=st.userlname, data-fullname=fullname)
													i.fa.fa-dumbbell
												button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Edit Account', data-target='#editmodal' data-email=st.useremail,
												data-mobile=st.usermobile,data-fname=st.userfname, data-lname=st.userlname,data-id=st.userid )
													i.fa.fa-edit
												if st.statusfront=='Inactive'
													button.btn.btn-danger.btn-xs(data-toggle='modal', data-trigger='hover', data-placement='top', data-content='Remove Account Permanently' data-target='#deletemodal' data-id=st.userid)
														i.fa.fa-trash-alt


			// /content-panel
			// MODAL ADD STAFF
			#add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4#myModalLabel.modal-title Register a Staff
						form.needs-validation(action='/staff', method='POST', autocomplete='off' novalidate id='add-staff' enctype='multipart/form-data')
							.modal-body
								.container-fluid
									.row
										.col-xs-12
											h5 Personal Info
											hr
									.container-fluid(style='padding:1rem 4rem 1rem 4rem;')
										.row
											.col-md-6
												.form-group
													label.control-label First Name
													input.form-control(type='text' name='sfirstName' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
											.col-md-6
												.form-group
													label.control-label Last Name
													input.form-control(type='text' name='slastName' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
										.row
											.col-md-6
												.form-group
													label.control-label Mobile Number
													input.form-control(type='text' name='smobNum', placeholder='09xxxxxxxxxx' onkeypress='return restrictCharacters(this, event, numOnly)' maxlength='11' required)
											.col-md-6
												.form-group
													label.control-label Email
													input.form-control(type='email', name='semail' onkeypress='return restrictCharacters(this, event, emailOnly)' required)
										.row
											.col-md-12
												h5 Login Information
												hr
											.container-fluid(style='padding:1rem 4rem 1rem 4rem;')
										.row
											.col-md-6
												.form-group
													label.control-label Username
													input.form-control(type='text' name='username' onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='15')
											.col-md-6
												.form-group
													label.control-label Password
													input.form-control(type='password' name='password' maxlength='25')
										.row
											.col-md-4
												| Upload your Image 
												input#upload(type='file', name='img' ,accept="image/*")
							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close
								button.btn.btn-primary(type='submit' id='btn-add-staff') Add Staff

			// VIEW STAFF
			#viewmodal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4#myModalLabel.modal-title Assign to Branch
						form(action='/staff/assign', method='POST')
							.modal-body
								.row
									.col-md-12
										.form-group
										label.control-label Branch
										select.form-control(name='branchid')
											each br in bra
												option.hidden(value='0' required) Unassign
												option(value=''+br.branchID) #{br.branchname}
										input.hidden#fullna(type='text' name='manager')
										input.hidden#id(type='text' name='id')
										
							.modal-footer
								button.btn.btn-primary(type='submit') Assign
								button.btn.btn-default(type='button', data-dismiss='modal') Close
			// MODAL EDIT STAFF
			#editmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4#myModalLabel.modal-title Edit Staff Information
						form(action='/staff/edit', method='POST' id='edit-staff')
							.modal-body
								.container-fluid
									.row
										.col-xs-12
											h5 Personal Info
											hr
									.container-fluid(style='padding:1rem 4rem 1rem 4rem;')
										input.hidden#id(type='text' name='id')
										.row
											.col-md-6
												.form-group
													label.control-label First Name
													input.form-control#fname(type='text' name='sfirstName' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
											.col-md-6
												.form-group
													label.control-label Last Name
													input.form-control#lname(type='text' name='slastName' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
										.row
											.col-md-6
												.form-group
													label.control-label Mobile Number
													input.form-control#mobile(type='text' name='smobNum' onkeypress='return restrictCharacters(this, event, numOnly)' maxlength='11' required)
											.col-md-6
												.form-group
													label.control-label Email
													input.form-control#email(type='email' name='semail' onkeypress='return restrictCharacters(this, event, emailOnly)')
									.row
										.col-md-12
											h5 Login Information
											hr
									.container-fluid(style='padding:1rem 4rem 1rem 4rem;')
										.row
											.col-md-6
												.form-group
													label.control-label Username
													input.form-control(type='text' onkeypress='return restrictCharacters(this, event, alphaNumOnly)' maxlength='15')
											.col-md-6
												.form-group
													label.control-label Password
													input.form-control(type='password' maxlength='25')
										.row
											.col-md-4
												| Upload your Image 
												input(type='file', name='pic')

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close
								button.btn.btn-primary(type='submit' id='btn-edit-staff') Save

			// MODAL DELETE
			#deletemodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4#myModalLabel.modal-title Remove
						form(action='/staff/delete', method='POST' id='del-staff')
							.modal-body
								.container-fluid
									.container-fluid(style='padding:1rem 4rem 1rem 4rem;')
										.row
											.col-md-12
												.form-group
													h4 Delete this staff?
											input.hidden#id(type='text' name='id')

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close
								button.btn.btn-default(type='submit' id='btn-del-staff') Delete

include ../../../../templates/foot

script.
	$(document).ready(function(){
	$('#memdrop').addClass('active');
	$('#staffs').addClass('active');

	$('.needs-validation').validate({
		rules:{
			username: {
				minlength: 4
				},
			smobNum:{
				maxlength: 11,
				minlength: 11
				},
		},
		messages:{
			username:{
				minlength: 'Username shouldn\'t be less than four characters'
			},
			smobNum:{
				maxlength: 'Mobile number should be exactly 11 digits',
				minlength: 'Mobile number should be exactly 11 digits'
			}
		}
	});
	});

script.
	$('#viewmodal').on('show.bs.modal', function(event){
		let button = $(event.relatedTarget)     
		let mobile = button.data('mobile')
		console.log(mobile)
		let email = button.data('email')
		console.log(email)
		var bra = button.data('bra')
		console.log(bra)
		var full = button.data('fullname')
		console.log(full)
		var id = button.data('id')
		let modal = $(this);     
		modal.find('.modal-body span#email').text(` ${email}`)  
		modal.find('.modal-body span#mobile').text(` ${mobile}`)
		modal.find('.modal-body span#bra').text(` ${bra}`)
		modal.find('.modal-body #fullna').val(` ${full}`)
		modal.find('.modal-body #id').val(` ${id}`)
	})

	$('#editmodal').on('show.bs.modal', function(event){
		var button = $(event.relatedTarget)      
		var mobile = button.data('mobile')
		console.log(mobile)
		var email = button.data('email')
		console.log(email)
		var fname = button.data('fname')
		console.log(fname)
		var lname = button.data('lname')
		console.log(lname)
		var id = button.data('id')
		console.log(id)
		var fullname = fname + ' ' + lname

		let modal = $(this);     

		modal.find('.modal-body #email').val(` ${email}`)  
		modal.find('.modal-body #mobile').val(` ${mobile}`)
		modal.find('.modal-body #fname').val(` ${fname}`)
		modal.find('.modal-body #lname').val(` ${lname}`)
		modal.find('.modal-body #id').val(` ${id}`)
	})

script.
	$('#deletemodal').on('show.bs.modal', function(event){
		var button = $(event.relatedTarget)      
		var id = button.data('id')
		console.log(id)
		let modal = $(this)     
		modal.find('.modal-body #id').val(` ${id}`)
	})

	//sweet alert add staff
		$(document).on('click', '#btn-add-staff', function(e) {
		var form = $(this).parents('form');
		e.preventDefault();

		swal({
			title: 'Add New Staff?',
			type: 'info',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes'
		}).then((result) => {
			if (result.value) {
				swal("Success!", "New Staff was added!", "success");
				$('#add-staff').submit();
			}                        
		})
	});

		//sweet alert edit staff
		$(document).on('click', '#btn-edit-staff', function(e) {
		var form = $(this).parents('form');
		e.preventDefault();

		swal({
			title: 'Save Changes?',
			type: 'info',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes'
		}).then((result) => {
			if (result.value) {
				swal("Success!", "Updated!", "success");
				$('#edit-staff').submit();
			}                        
		})
	});

	//sweet alert delete staff
		$(document).on('click', '#btn-del-staff', function(e) {
		var form = $(this).parents('form');
		e.preventDefault();

		swal({
			title: 'Delete Staff?',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes'
		}).then((result) => {
			if (result.value) {
				swal("Success!", "Staff Deleted!", "success");
				$('#del-staff').submit();
			}                        
		})
	});


script.
	$(document).ready(function() {
	    $('#btn-add-staff').bind("click",function() 
	    { 
	        var imgVal = $('#upload').val(); 
	        if(imgVal=='') 
	        { 
	            alert("empty input file"); 
	            return false; 
	        } 


	    }); 
	});


