include ../../../../templates/head

style.
  .r {
    color: #ff6961;
  }

  label.error {
    color: #ff6961;
  }

  input.form-control.error {
    border: 1px solid #ff6961;
  }

  select.form-control.error {
    border: 1px solid #ff6961;
  }

block main

    section#main-content
      section.wrapper.site-min-height  
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4
                    | Assign Card
                  thead
                    tr
                    
                      th
                        i.fa.fa-user
                        |  Name
                      th 
                        i.fa.fa-bookmark
                        |  Membership  
                      th
                        i.fa.fa-edit
                        |  Action
                  tbody
                    tr
                      td.hidden-phone {re.userfname} {re.userlname}
                      td  {re.memclassname}-{re.membershipname}                    
                      td
                        button.freeze.btn.btn-primary.btn-xs(data-toggle='modal', data-target='.freeze-modal')
                          i.fa.fa-plus
                        //- button.edit.btn.btn-success.btn-xs(data-toggle='modal', data-target='.edit-modal')
                        //-   i.fa.fa-edit
                        //- button.train.btn.btn-warning.btn-xs(data-toggle='modal', data-target='.sorted' data-id=re.userid)
                        //-   i.fa.fa-dumbbell
                        //- button.train.btn.btn-primary.btn-xs(data-toggle='modal', data-target='#viewmodal')
                        //-   i.fa.fa-arrow-alt-circle-up
                        //- button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='.suspend-modal')
                        //-   i.fa.fa-exclamation-circle
                        //- button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='.delete-modal')
                        //-   i.fa.fa-trash-alt 
                          


    // MODAL ADD MEMBER
.freeze-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content 
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Assign Card
      form(action='/freeze', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-md-12
                .form-group
                  label.control-label Card Number
                  input.form-control(type="number" name="freezevalue" onkeypress='return restrictCharacters(this, event, numOnly)')
                  input.hidden#id(type="text" name="id")
              .modal-footer
                  button.btn.btn-primary(type='submit') Assign
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  

   

include ../../../../templates/foot

script.

  $(document).ready(function(){

    $('.username').keyup(function () {
      var username = $(this).val()
      if (username.length >= 4) {
        $.post('/users').done(function (data) {
          for (i = 0; i < data.length; i++) {
            if (data[i].userusername != username) {
              $('#prompt').empty()
            } else {
              $('.username').addClass('inv')
              $('.username.input.form-control').addClass('inv')
              $('#prompt').text('Username is already taken')
              $('#prompt').css({
                'color':'#ff6961',
                'font-weight':'bold'
              })
            }
          }
        })
      }
      else{
        $('#prompt').empty()
      }
    })

    $('.email').keyup(function () {
      var email = $(this).val()
      if (email.length >= 4) {
        $.post('/users').done(function (data) {
          for (i = 0; i < data.length; i++) {
            if (data[i].useremail != email) {
            } else {
              $('.email').addClass('inv')
              $('.email.input.form-control').addClass('inv')
              $('#prompt2').text('Username is already taken')
              $('#prompt2').css({
                'color':'#ff6961',
                'font-weight':'bold'
              })
            }
          }
        })
      }
      $('#prompt2').empty()
    })

    $(document).on("submit", "#form", function(e){
      if ( $('.username').hasClass('inv') || $('.email').hasClass('inv')){
        e.preventDefault()
        return  false
      }else{
        continue
      }
    })

  })

script.
  $('.prompt').on('shown.bs.modal', function () {
  $('.sorted').modal('hide');
  });

script.
  $('.freeze-modal').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget);
    var id = button.data('id');
    let modal = $(this);

    modal.find('.modal-body #id').val(`${id}`);
  });
  
script.
  $('.edit').click(function () {
  $('.student').prop('checked', false);
  });
  $('.student').click(function () {
    if ($(this).is(':checked')) {
      $('.second').show();
    }
    else{
      $('.second').hide();
    }
    $('.first').hide();
  });

//-----------------------//
//- TRAINING ASSIGNMENT -//
//-----------------------//

script.
  $('#back').click(function(){
  $('.sorted').modal('hide');
  })

script.
  $('#return').click(function(){
  $('.sorted').modal();
  })

script.
  $('.showImg').click(function(){
  $('.showImgModal').modal();
  $('.sorted').modal('hide');
  });

script.
  $("#sort").click(function () {
  getArray();
  });

script.
  function getArray(){
  var chkArray = [];
  $(".day:checked").each(function() {
  chkArray.push($(this).val());
  });
  var selected;
  selected = chkArray.join(',') ;
  if(selected.length > 0){
  //- alert("You have selected " + selected);
  $('.sorted').modal();
  $('.assign-modal').modal('hide');
  }
  else{
  alert("Please select at least one day");
  }
  }


script.
 $(document).ready(function(){
  $(".date").datepicker({
    changeMonth: true,
    changeYear: true,
    todayHighlight: true,
    maxViewMode: 2,
    startView: 2,
    autoclose: true
  });

  $('#transactionDrop').addClass('active');
  $('#memberDrop').addClass('active');
  $('#exclusive').addClass('active');
  
  $('.needs-validation').validate({
    rules:{
      username: {
        minlength: 4
        },
      mobile:{
        maxlength: 11,
        minlength: 11
        },
        
    },
    messages:{
      username:{
        minlength: 'Username shouldn\'t be less than four characters'
      },
      mobile:{
        maxlength: 'Mobile number should be exactly 11 digits',
        minlength: 'Mobile number should be exactly 11 digits'
      }
    }
  });

  $('.username').keyup(function () {
    var username = $(this).val()
    if (username.length >= 4) {
      $.post('/signup/users').done(function (data) {
        console.log(data)
        for (i = 0; i < data.length; i++) {
          if (data[i].userusername != username) {
            $('#prompt').empty()
          } else {
            $('.username').addClass('inv')
            $('.username.input.form-control').addClass('inv')
            $('#prompt').text('Username is already taken')
            $('#prompt').css({
              'color':'#ff6961',
              'font-weight':'bold'
            })
          }
        }
      })
    }
    else{
      $('#prompt').empty()
    }
  })

  $('.email').keyup(function () {
    var email = $(this).val()
    if (email.length >= 4) {
      $.post('/signup/users').done(function (data) {
        console.log(data)
        for (i = 0; i < data.length; i++) {
          if (data[i].useremail != email) {
          } else {
            $('.email').addClass('inv')
            $('.email.input.form-control').addClass('inv')
            $('#prompt2').text('Email is already taken')
            $('#prompt2').css({
              'color':'#ff6961',
              'font-weight':'bold'
            })
          }
        }
      })
    }
    $('#prompt2').empty()
  })


  $(document).on("submit", "#form", function(e){
    if ( $('.username').hasClass('inv') || $('.email').hasClass('inv')){
      e.preventDefault()
      return  false
    }else{
      continue
    }
  })
  
  });

script.
  $('.prompt').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget)      
    var id = button.data('id')
    var userid = button.data('userid')
    let modal = $(this);     
    modal.find('.modal-body #id').val(` ${id}`)
    modal.find('.modal-body #userid').val(`${userid}`)
  })

script.
  $('.sorted').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget)      
    var id = button.data('id')
    var userid = button.data('userid')
    let modal = $(this);     
    modal.find('.modal-body #id').val(` ${id}`)
    modal.find('.modal-body #userid').val(`${userid}`)
  })

script.
  $('#viewmodal').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget)      
    var usersid = button.data('usersid')
    var name=button.data('name')
    let modal = $(this);     
    modal.find('.modal-body #usersid').val(`${usersid}`)
    modal.find('.modal-body #name').val(`${name}`)
  })

script.
  $(document).ready(function(){

    var date = new Date()
    date = moment(date).format('MMM DD, YYYY')
    var sub = false
    
    $('#upg').click(function(e){
     
      $('.or').modal('show')
      $('#client').val(`${$('#usersid').val()}`)
      $('#fname').text(`${$('#name').val()}`)
      $('#memberid').val($("#memb option:selected").data('id'))
      $('#per').val($("#memb option:selected").data('per'))
      //- $('#address').text($('#addr').val())
      //- $('#email').text($('#emai').val())
      //- $('#contact').text($('#cont').val())
      $('#date').text(date)
      //- $('#quantity').text('-')
      //- $('#desc').text(`Membership: ${$("#memb option:selected").data('membership')}`)
      //- $('.total').text($("#memb option:selected").data('memfee'))
      //- $('#add').modal('dismiss')    
    })
  })