include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4 All Freezed Members
                  thead
                    tr
                      th
                        i.fa.fa-user
                        |  Name
                      th
                        i.fa.fa-bookmark
                        |  Membership
                      th
                        i.fa.fa-calendar-alt
                        |  Freezing Date
                      th
                        i.fa.fa-calendar-alt
                        |  Freezed Until
                      th
                        i.fa.fa-user
                        |  Amount 
                      th
                        i.fa.fa-user
                        |  Status
                      th
                        i.fa.fa-edit 
                        |  Action
                  tbody
                    each fr in fres
                      tr
                        td.hidden-phone #{fr.userfname} #{fr.userlname}
                        td #{fr.memclassname}-#{fr.membershipname}
                        td #{fr.datefrozen}
                        td #{fr.freezeduntil}
                        td ₱ #{fr.amount}.00
                        td #{fr.status}
                        td
                          button.btn.btn-success.btn-xs(data-toggle='modal', data-target='.pay-modal', data-id=fr.userid)
                              i.fa.fa-coins
                          if fr.status=='Paid'
                            button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='.unfreeze-modal' data-id=fr.userid)
                              i.fa.fa-fire
                          button.btn.btn-primary.btn-xs(data-toggle='modal', data-target='.view-modal' data-fname=fr.userfname + " " + fr.userlname ,data-fee=fr.amount ,data-mem=fr.genname ,data-addr=fr.useraddress ,data-em=fr.useremail ,data-mob=fr.usermobile data-qt=fr.freezedmonths)
                            i.fa.fa-search
                          
              
// MODAL FREEZE MEMBER
.unfreeze-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Unfreeze Account
      form(action='/unfreeze', method='POST')
        .modal-body
          .container-fluid
            .row
            .col-md-12
              h4 Are you sure? This will continue your subscription from <b>TODAY</b>.
              input.hidden.id(type="text" name="id")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Freeze Account

.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Payment Breakdown
          form(action='POST', method='')
            .modal-body
              .container-fluid
                .row
                  .col-xs-12
                    .pull-left
                      h1 A-TEAM FITNESS
                      address
                        strong A-Team Fitness Inc.
                        br
                        | 4408 Old. Sta. Mesa St, Newton Plaza
                        br
                        | Sta. Mesa Manila
                        br
                        abbr(title='Phone') P:
                        |  0933 412 7526
                    // /pull-left
                    .pull-right
                      h1
                        img.img-circle(src="/assets/img/icon.png", style="width:120px; float:right; margin-top:20px;", alt="")
                    // --/pull-right --
                    .clearfix
                    br
                    br
                    .row
                      .col-md-9
                        h2#fname
                        address
                          strong#mem
                          br
                          strong#addr
                          br
                          strong#em
                          br
                          strong#mob
                      .col-md-3
                        div
                          .pull-left DATE : 
                          .pull-right#date 
                          .clearfix
                        br
                        div
                        div(style='background-color:#ffbb00;color:white;padding:10px;')
                          .pull-left  Total :
                          .pull-right#fee
                          .clearfix
                    table.table
                      thead
                        tr
                          th.text-center(style='width:60px') QTY
                          th.text-left DESCRIPTION
                          th.text-right(style='width:90px') TOTAL
                      tbody
                        tr
                          td.text-center#qt
                          td#mem
                          td.text-right#fee
                        tr
                          td(colspan='2' rowspan='4')
                          td.text-right

                        tr
                          td.text-right.no-border
                            div(style='background-color:#ffbb00;color:white;padding:10px;')
                              strong Total
                          td.text-right
                            strong#fee
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Print


          //- MODAL PAYMENT
.pay-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    form(action='/payment/freeze', method='POST')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title  Payment
        .modal-body
          .container-fluid
            .row
              p You are about to pay a member of his bills. Do you wish to proceed?
            br
            input.hidden.id(type='text' name='ids')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Pay
include ../../../../templates/foot


script.
  $(document).ready(function(){
    $('#transactionDrop').addClass('active');
    $('#memberDrop').addClass('active');
    $('#freezed').addClass('active');

    var date = Date();
    });

script.
  $('.unfreeze-modal').on('show.bs.modal', function(event){
    var button = $(event.relatedTarget);
    var id = button.data('id');
    let modal = $(this);

    modal.find('.modal-body .id').val(`${id}`);
  })
  
script.
  $('.view-modal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget);
      var fname = button.data('fname');
      var fee = button.data('fee');
      var mem = button.data('mem');
      var addr = button.data('addr');
      var em = button.data('em');
      var mob = button.data('mob');
      var qt = button.data('qt');
      let modal = $(this);

      modal.find('.modal-body #fname').text(`${fname}`);
      modal.find('.modal-body #fee').text(`₱ ${fee}.00`);
      modal.find('.modal-body #mem').text(`${mem}`);
      modal.find('.modal-body #addr').text(`${addr}`);
      modal.find('.modal-body #em').text(`${em}`);
      modal.find('.modal-body #mob').text(`${mob}`);
      modal.find('.modal-body #qt').text(`${qt}`);
    })

script.
  n = new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();

  document.getElementById("date").innerHTML =m +"-" +d+"-"+y;

script.
  $('.pay-modal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget);
      var id = button.data('id');
      var memid = button.data('memid');
      let modal = $(this);


      modal.find('.modal-body .id').val(`${id}`);
      modal.find('.modal-body .memid').val(`${memid}`);
    })