include ../../../../templates/head

block main      
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-md-12
					.content-panel
						.container-fluid
							table.table.table-striped.table-advance.table-hover
								h4
									| Billing and Payment
								thead
									tr
										th
											i.fa.fa-user
											|  Name
										th
											i.fa.fa-phone
											|  Contact
										th
											i.fa.fa-coins
											|  Amount (Peso)
										th
											i.fa.fa-calendar
											|  Due Date
										th
											i.fa.fa-info-circle
											|  Membership
										th
											i.fa.fa-edit
											|  Action
								tbody
									each pa in pays
										tr
											td.hidden-phone #{pa.userfname} #{pa.userlname}
											td #{pa.usermobile}
											td ₱ #{pa.memfee}.00
											td #{pa.expirydate}
											td #{pa.memclassname}-#{pa.membershipname}
											td
												button.btn.btn-primary.btn-xs(data-toggle='modal', data-target='.view-modal' data-fname=pa.userfname + " " + pa.userlname data-fee=pa.memfee data-mem=pa.memclassname + " " + pa.membershipname data-addr=pa.useraddress data-em=pa.useremail data-mob=pa.usermobile data-or=pa.or)
													i.fa.fa-search
												button.btn.btn-success.btn-xs(data-toggle='modal', data-target='.pay-modal', data-id=pa.userid data-memid=pa.memrateid)
													i.fa.fa-coins
												button.hist.btn.btn-warning.btn-xs(value=pa.userid)
													i.fa.fa-exclamation-circle
												button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='')
													i.fa.fa-trash

		.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Official Receipt
					form.toPrint(action='POST', method='')
						.modal-body
							.container-fluid
								.row
									.col-xs-12
										.pull-left
											h1 #{utils.gymname}
											address
												strong #{utils.companyname}
												br
												| #{utils.address}
												br
												| #{utils.city}
												br
												abbr(title='Phone') P:
												|  #{utils.phone}
										// /pull-left
										.pull-right
											h1
												img.img-circle(src=`/assets/images/${utils.logo}`, style="width:120px; float:right; margin-top:20px;", alt="")
										// --/pull-right --
										.clearfix
										br
										br
										.row
											.col-md-9
												h2#fname
												address
													strong#mem
													br
													strong#addr
													br
													strong#em
													br
													strong#mob
											.col-md-3
												div
													.pull-left DATE : 
													.pull-right#date 
													.clearfix
												br
												div
										table.table
											thead
												tr
													th.text-center(style='width:60px') QTY
													th.text-left DESCRIPTION
													th.text-right(style='width:90px') TOTAL
											tbody
												tr
													td.text-center -
													td#mem
													td.text-right#fee
												tr
													td(colspan='2' rowspan='4')
													td.text-right

												tr
													td.text-right.no-border
														strong(style='background-color:#ffbb00;color:white;padding:5px 10px;') Total
													td.text-right
														strong#fee
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button' onclick="printContent('toPrint')") Print 
						button.btn.btn-primary(type='button' id='saveAsPDF' ) Save as PDF

					//- MODAL PAYMENT
		.pay-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.modal-sm
				form(action='/payment', method='POST' id='pay-mem')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4.modal-title 	Payment
						.modal-body
							.container-fluid
								.row
									p You are about to pay a member of his bills. Do you wish to proceed?
								br
								input.id.hidden(type='text' name='id' )
								input.memid.hidden(type='text' name='memrateid' )
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') Close
							button.btn.btn-primary(type='submit' id='pay-btn') Pay
							//modal
	.hist-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title HISTORY
				form(action='', method='post')
					br
					.container-fluid
						table.table.table-advance.table-hover
							thead
								tr
									th
										i.fa.fa-bookmark
										|  No.
									th 
										i.fa.fa-user
										|  Name
									th 
										i.fa.fa-phone
										|  Date
		                
							tbody#participant
					
include ../../../../templates/foot

script.
	function printContent(el){
		let restorepage = $('body').html();
		let printcontent = $('#' + el).clone();
		$('body').empty().html(printcontent);
		window.print();
		$('body').html(restorepage);
	}
	
	$('#saveAsPDF').click(function(){
		html2canvas($('.toPrint'), {
			onrendered: function (canvas) {
				var time = new Date();
				var img = canvas.toDataURL('image/png');
				var doc = new jsPDF();
				doc.addImage(img, 'JPEG', 15, 20, 160, 100);
				doc.save('payment_file_' + time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) + '.pdf');
			}
		})
	})

script.
	$(document).ready(function(){
	$('#transactionDrop').addClass('active');
	$('#payment').addClass('active');
	});


script.
	$('.pay-modal').on('show.bs.modal', function(event){
			var button = $(event.relatedTarget);
			var id = button.data('id');
			var memid = button.data('memid');
			let modal = $(this);


			modal.find('.modal-body .id').val(`${id}`);
			modal.find('.modal-body .memid').val(`${memid}`);
		})

script.
	$('.view-modal').on('show.bs.modal', function(event){
		var button = $(event.relatedTarget);
		var fname = button.data('fname');
		var fee = button.data('fee');
		var mem = button.data('mem');
		var addr = button.data('addr');
		var em = button.data('em');
		var mob = button.data('mob');
		var or = button.data('or');
		console.log(or)
		let modal = $(this);

		modal.find('.modal-body #fname').text(`${fname}`);
		modal.find('.modal-body #fee').text(`₱ ${fee}.00`);
		modal.find('.modal-body #mem').text(`${mem}`);
		modal.find('.modal-body #addr').text(`${addr}`);
		modal.find('.modal-body #em').text(`${em}`);
		modal.find('.modal-body #or').text(`${or}`);
		modal.find('.modal-body #mob').text(`${mob}`);
	})
	
script.
	
	
	const today = moment().format('MMMM DD, YYYY')
	document.getElementById("date").innerHTML = today

	//- $(document).on('click', '#pay-btn', function(e) {
	//- var form = $(this).parents('form');
	//- e.preventDefault();
	//- 	swal({
	//- 		title: 'Success!',
	//- 		text: 'Pending successfully paid!',
	//- 		type: 'success',
	//- 		showConfirmButton: false,
	//- 		timer: 1500
	//- 	});
	//- 	$('#pay-mem').submit();
	//- });
	//- $(document).on('click', '#btn-del-pay', function(e) {
	//- var form = $(this).parents('form');
	//- e.preventDefault();

	//- swal({
	//- title: 'Delete this payment?',
	//- text: 'You can no longer access this record once deleted.',
	//- type: 'warning',
	//- showCancelButton: true,
	//- confirmButtonColor: '#3085d6',
	//- cancelButtonColor: '#d33',
	//- confirmButtonText: 'Yes'
	//- }).then((result) => {
	//- if (result.value) {
	//- swal({
	//- title: 'Success!',
	//- text: 'Payment deleted successfully!',
	//- type: 'success',
	//- showConfirmButton: false,
	//- timer: 5000
	//- });
	//- //- swal("Success!", "Class Deleted!", "success");
	//- $('#del-pay').submit();
	//- }                        
	//- })
	//- });

script.
	  $(document).ready(function(){
	    $('.hist').click(function(){
	      $.post('/view/history',{
	        id : $(this).val()
	      }).done(function(data){
	          console.log(data, 'puta')
	          if (data.length == 0){
	            $('#participant').append(`
	              <tr>
	                <td> No Data found ...</td>
	              </tr>
	            `)
	          }
	          else  {
	            var num = 1
	            for(i=0; i<data.length; i++){
								
	              $('#participant').append(`
	                <tr>
	                  <td>${num}</td>
	                  <td>${data[i].userfname} ${data[i].userlname}</td>  
	                  <td>${moment(data[i].paymentdate).format('MMMM DD, YYYY')}</td>  
	                </tr>
	              `)
	              num ++
	            }
	          }
	      }).then(
	        $('.hist-modal').modal('show')
	      )
	    })

	    $('.hist-modal').on('hidden.bs.modal', function(){
	      $('#participant').empty()
	    })



	  });