include ../../../../templates/head

block main      
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-md-12
					.content-panel
						.container-fluid
							table.table.table-striped.table-advance.table-hover
								h4
									| Billing and Payment
								thead
									tr
										th
											i.fa.fa-user
											|  Name
										th
											i.fa.fa-phone
											|  Contact
										th
											i.fa.fa-coins
											|  Amount (Peso)
										th
											i.fa.fa-calendar
											|  Due Date
										th
											i.fa.fa-info-circle
											|  Membership
										th
											i.fa.fa-edit
											|  Action
								tbody
									each pa in pays
										tr
											td.hidden-phone #{pa.userfname} #{pa.userlname}
											td #{pa.usermobile}
											td ₱ #{pa.memfee}.00
											td #{pa.expirydate}
											td #{pa.memclassname}-#{pa.membershipname}
											td
												button.btn.btn-primary.btn-xs(data-toggle='modal', data-target='.view-modal' data-fname=pa.userfname + " " + pa.userlname data-fee=pa.memfee data-mem=pa.memclassname + " " + pa.membershipname data-addr=pa.useraddress data-em=pa.useremail data-mob=pa.usermobile)
													i.fa.fa-search
												button.btn.btn-success.btn-xs(data-toggle='modal', data-target='.pay-modal', data-id=pa.userid data-memid=pa.memrateid)
													i.fa.fa-coins
												button.btn.btn-warning.btn-xs(data-toggle='modal', data-target='.sorted.modal')
													i.fa.fa-exclamation-circle
												button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='')
													i.fa.fa-trash

		.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Official Receipt
					form(action='POST', method='')
						.modal-body
							.container-fluid
								.row
									.col-xs-12
										.pull-left
											h1 A-TEAM FITNESS
											address
												strong A-Team Fitness Inc.
												br
												| 4408 Old. Sta. Mesa St, Newton Plaza
												br
												| Sta. Mesa Manila
												br
												abbr(title='Phone') P:
												|  0933 412 7526
										// /pull-left
										.pull-right
											h1
												img.img-circle(src="/assets/img/icon.png", style="width:120px; float:right; margin-top:20px;", alt="")
										// --/pull-right --
										.clearfix
										br
										br
										.row
											.col-md-9
												h2#fname
												address
													strong#mem
													br
													strong#addr
													br
													strong#em
													br
													strong#mob
											.col-md-3
												div
													.pull-left DATE : 
													.pull-right#date 
													.clearfix
												br
												div
												div(style='background-color:#ffbb00;color:white;padding:10px;')
													.pull-left  Total Paid :
													.pull-right#fee
													.clearfix
										table.table
											thead
												tr
													th.text-center(style='width:60px') QTY
													th.text-left DESCRIPTION
													th.text-right(style='width:90px') TOTAL
											tbody
												tr
													td.text-center -
													td#mem
													td.text-right#fee
												tr
													td(colspan='2' rowspan='4')
													td.text-right

												tr
													td.text-right.no-border
														div(style='background-color:#ffbb00;color:white;padding:10px;')
															strong Total
													td.text-right
														strong#fee
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='button') Print 

					//- MODAL PAYMENT
		.pay-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.modal-sm
				form(action='/payment', method='POST')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4.modal-title 	Payment
						.modal-body
							.container-fluid
								.row
									p You are about to pay a member of his bills. Do you wish to proceed?
								br
								input.id.hidden(type='text' name='id' )
								input.memid.hidden(type='text' name='memrateid' )
						.modal-footer
							button.btn.btn-default(type='button', data-dismiss='modal') Close
							button.btn.btn-primary(type='submit') Pay
							//modal
.sorted.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4#myModalLabel.modal-title Payment History
			form(method='POST' action='/assign')
				.modal-body
					.container-fluid
						content-panel
							table.table.table-striped.table-advance.table-hover
								br
								thead
									tr
										th
											i.fa.fa-calendar
											|  Payment Date 
								tbody
									each hs in history
										tr
										td #{hs.paymentdate}
										input.form.control(value=hs.userid)
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					
include ../../../../templates/foot

script.
	$(document).ready(function(){
	$('#transactionDrop').addClass('active');
	$('#payment').addClass('active');
	});


script.
	$('.pay-modal').on('show.bs.modal', function(event){
			var button = $(event.relatedTarget);
			var id = button.data('id');
			var memid = button.data('memid');
			let modal = $(this);


			modal.find('.modal-body .id').val(`${id}`);
			modal.find('.modal-body .memid').val(`${memid}`);
		})

script.
	$('.view-modal').on('show.bs.modal', function(event){
			var button = $(event.relatedTarget);
			var fname = button.data('fname');
			var fee = button.data('fee');
			var mem = button.data('mem');
			var addr = button.data('addr');
			var em = button.data('em');
			var mob = button.data('mob');
			let modal = $(this);

			modal.find('.modal-body #fname').text(`${fname}`);
			modal.find('.modal-body #fee').text(`₱ ${fee}.00`);
			modal.find('.modal-body #mem').text(`${mem}`);
			modal.find('.modal-body #addr').text(`${addr}`);
			modal.find('.modal-body #em').text(`${em}`);
			modal.find('.modal-body #mob').text(`${mob}`);
		})
	
script.
	n = new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();

	document.getElementById("date").innerHTML =m +"-" +d+"-"+y;
