include ../../../../templates/head 

block main
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-md-12
					.content-panel
						.container-fluid
							table.table.table-striped.table-advance.table-hover
								h4
									| All Pending Session Purchases
								thead
									tr
										th
											i.fa.fa-user
											|  Name
										th
											i.fa.fa-plus
											|  Quantity
										th
											i.fa.fa-dollar-sign
											|  Total Amount
										th
											i.fa.fa-edit
											|  Action
									tbody 
										
										each p in paid

											- var total = p.amount * 50
											- var fullname = `${p.userfname} ${p.userlname}` 
											- var mebership = `${p.memclassname} - ${p.membershipname}`

											tr 
												td #{p.userfname} #{p.userlname}
												td #{p.amount}
												td ₱ #{total}.00
												td 
													button.pay.btn.btn-theme.btn-xs(	
													type='button', value = p.sessionID, data-userid = p.userid, 
													data-amount = total,data-name = fullname,data-mem = mebership,
													data-address = p.useraddress,data-email = p.useremail,
													data-mobile = p.usermobile,	data-quantity = p.amount)
														i.fa.fa-coins
													button.delete.btn.btn-danger.btn-xs(type='button', value = p.sessionID)
														i.fa.fa-trash-alt

.or.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title Official Receipt
			.toPrint.modal-body
				.container-fluid
					.row
						.col-xs-12
							.pull-left
								h1 A-TEAM FITNESS
								address
									strong A-Team Fitness Inc.
									br
									| 4408 Old. Sta. Mesa St, Newton Plaza
									br
									| Sta. Mesa Manila
									br
									abbr(title='Phone') P:
									|  0933 412 7526
							// /pull-left
							.pull-right
								h1
									img.img-circle(src="/assets/img/icon.png", style="width:120px; float:right; margin-top:20px;", alt="")
							// --/pull-right --
							.clearfix
							br
							br
						
							.row
								.col-md-9
									h2
										#name
									address
										strong 
											#membership
										strong 
											#address
										strong 
											#email
										strong 
											#contact
								.col-md-3
									div
										.pull-left DATE : 
										.pull-right
											#date
										.clearfix
									br
									div
									div(style='background-color:#ffbb00;color:white;padding:10px;')
										.pull-left  Total Paid :
										.pull-right 
											.total
										.clearfix
							table.table
								thead
									tr
										th.text-center(style='width:60px') QTY
										th.text-left DESCRIPTION
										th.text-right(style='width:90px') SUBTOTAL
								tbody
									tr
										td.text-center 
											#quantity
										td
											#desc
										td.text-right 
											.total
									tr
										td(colspan='2' rowspan='4')
										td.text-right
									tr
										td.text-right.no-border
											div(style='background-color:#ffbb00;color:white;padding:10px;')
												strong Total
										td.text-right
											strong 
												.total
		.modal-footer
			button.btn.btn-default(type='button', data-dismiss='modal') Close
			// button.btn.btn-primary(type='button') Print
			button.btn.btn-primary(type='button' id='saveAsPDF') Save as PDF


include ../../../../templates/foot

script.
	$('#saveAsPDF').click(function(){
		html2canvas($('.toPrint'), {
			onrendered: function (canvas) {
				var time = new Date();
				var img = canvas.toDataURL('image/png');
				var doc = new jsPDF();
				doc.addImage(img, 'JPEG', 15, 20, 160, 100);
				doc.save('payment_file_' + time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) + '.pdf');
			}
		})
	})

script.
		$(document).ready(function(){

			var date = new Date()
			date = moment(date).format('MMM DD, YYYY')


		$('.pay').click(function(){

			//- Initializing Modal
			$('#name').text($(this).data('name'))
			$('#membership').text($(this).data('mem'))
			$('#address').text($(this).data('address'))
			$('#email').text($(this).data('email'))
			$('#contact').text($(this).data('mobile'))
			$('#date').text(date)
			$('#quantity').text($(this).data('quantity'))
			$('#desc').text('Purchased Personal Training Session')
			$('.total').text(`₱ ${$(this).data('amount')}.00`)

			//- Paying process
			swal({
				title: 'Accept Payment.',
				text: `Are you sure?`,
				type: 'question',
				showCancelButton: true,
				confirmButtonText: 'Confirm'
			}).then(( result ) => {
				if (result.value){
					$.post('/payment/session/pay',{
						id: $(this).val(),
						userid: $(this).data('userid'),
						amount : $(this).data('amount')
					}).done(
						swal(
							'Success',
							'Payment Accepted',
							'success'
						).then(( result) => {
							if (result.value){
								$('.or').modal('show')
								$('.or').on('hidden.bs.modal', function () {
									location.reload()
								})
							}
						})
					)
				}
			})
		})

		$('.delete').click(function(){
			swal({
				title: 'Delete Request?',
				text: `Are you sure?`,
				type: 'question',
				showCancelButton: true,
				confirmButtonText: 'Confirm'
			}).then((result) => {
				if (result.value){
					$.post('/payment/session/reject', {
						id: $(this).val()
					}).done(
						swal(
						'Success',
						'Request Rejected',
						'success'
						).then(( result) => {
							if (result.value){
								location.reload()
							}
						})
					)
				}
			})
		})
	})

