include ../../../../templates/head

block main

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4 Walk Ins
                    button.btn.btn-theme(style='margin-left: 5px;', type='button', data-toggle='modal', data-target='.add-walkins-modal')
                      i.fa.fa-home
                      |  Add Walk in
                  thead
                    tr
                      th
                        i.fa.fa-user
                        |  Name
                      th
                        i.fa.fa-phone
                        |  Contact
                      th
                        i.fa.fa-edit
                        | Action
                  tbody 
                    each wa in walk     
                      tr
                        td #{wa.userfname} #{wa.userlname}
                        td #{wa.usermobile}
                        td
                          //- button.btn.btn-success.btn-xs(data-toggle='modal', data-target='.pay-modal' data-id=wa.userid)
                          //-   | PAY
                          button#edit.btn.btn-success.btn-xs(data-toggle='modal', data-target='.view-modal.modal' data-id=wa.userid data-fname=wa.userfname + " " + wa.userlname data-fee=wa.amount data-mob=wa.usermobile)
                            i.fa.fa-search
              

.add-walkins-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      form(action='/walkin', method='POST' id='pay-mod')
        .modal-body
          .container-fluid
            .row
              .col-md-6
                .form-group
                  label.control-label Full Name
                  input.form-control.addDisable(type="text" name="fname" placeholder='First Name' onkeypress='return restrictCharacters(this, event, alphaOnly)' minlength='2' maxlength='25' required pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two names.')
              .col-md-6
                .form-group
                  label.control-labe(style="color:white") Last Name
                  input.form-control.addDisable(type="text" name="lname" placeholder='Last Name' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' minlength='2' required pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two words.')
              .col-md-12
                .form-group
                  label.control-labe(style="color:white") Username 
                  input.username.form-control.addDisable(type="text" name="username" placeholder='Username' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' minlength='2' required pattern='^([A-Za-z]+ )+[A-Za-z]+$|^[A-Za-z]+$' title='Please avoid using leading or trailing spaces and multiple spaces between two words.')
                  #prompt
            .row
              .col-md-12
                .form-group
                  label.control-label Contact
                  input.form-control.addDisable(type='text' placeholder='09xxxxxxxxx' value='09' name='mobile' onkeypress='return restrictCharacters(this, event, numOnly)' maxlength='11' minlength='11' required)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.add.btn.btn-primary.addButton(type='submit'  id='add-btn') Add Walkins

.edit-walkins-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      form(action='/freeze', method='POST' id='pay-walk')
        .modal-body
          .container-fluid
            .row
              .col-md-6
                .form-group
                  label.control-label Full Name
                  input.form-control.addDisable(type="text" name="fname" placeholder='First Name' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
              .col-md-6
                .form-group
                  label.control-labe(style="color:white") Full Name
                  input.form-control.addDisable(type="text" name="lname" placeholder='Last Name' onkeypress='return restrictCharacters(this, event, alphaOnly)' maxlength='25' required)
            .row
              .col-md-12
                .form-group
                  label.control-label Contact
                  input.form-control.addDisable(type='text' placeholder='09xxxxxxxxx' name='mobile' onkeypress='return restrictCharacters(this, event, numOnly)' maxlength='11' required)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.addButton(type='submit') Edit Walkins

.add-facility-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Add Walk-ins used
      .modal-body
        .container-fluid
          table.table.table-advance.table-hover
            h4
              | Add Used Facilities
              a.btn.btn-theme(style='margin-left: 5px;' href='/facility')
                i.fa.fa-home
                |  Add Facility 
            thead 
              tr
                th
                  i.fa.fa-shower
                  |  Name
                th
                  i.fa.fa-edit
                  | Counter
            tbody      
              tr
                td Sauna
                td 
                  input(type="number" style='width:60px;!important; padding-left: 20px; border: 1px solid #eee;' min='0' max='9')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='submit') Save

      
.view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Payment Breakdown
      form.toPrint(action='/payment/walkin', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-xs-12
                .pull-left
                  h1 A-TEAM FITNESS
                  address
                    strong A-Team Fitness Inc.
                    br
                    | 4408 Old. Sta. Mesa St, Newton Plaza
                    br
                    | Sta. Mesa Manila
                    br
                    abbr(title='Phone') P:
                    |  0933 412 7526
                // /pull-left
                .pull-right
                  h1
                    img.img-circle(src="/assets/img/icon.png", style="width:120px; float:right; margin-top:20px;", alt="")
                // --/pull-right --
                .clearfix
                br
                br
                .row
                  .col-md-9
                    h2#fname
                    address
                      //- strong#mem
                      //- br
                      //- strong#addr
                      //- br
                      //- strong#em
                      br
                      strong#mob
                  .col-md-3
                    div
                      .pull-left DATE : 
                      .pull-right#date 
                      .clearfix
                    br
                    div
                    div(style='background-color:#ffbb00;color:white;padding:10px;')
                      .pull-left  Total Due :
                      .pull-right#fee
                      .clearfix
                table.table
                  thead
                    tr
                      th.text-center(style='width:60px') QTY
                      th.text-left DESCRIPTION
                      th.text-right(style='width:90px') TOTAL
                  tbody
                    tr
                      td.text-center -
                      td Walkin Fee
                      td.text-right#fee
                    tr
                      td(colspan='2' rowspan='4')
                      td.text-right
                    tr
                      td.text-right.no-border
                        div(style='background-color:#ffbb00;color:white;padding:10px;')
                          strong Total
                      td.text-right
                        strong#fee
                      input.hidden#id(type='text' name='uid' )
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button' id='saveAsPDF') Save as PDF
        button.btn.btn-danger(type='submit') Pay
          // button.btn.btn-primary(type='button') Print

//- .pay-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
//-   .modal-dialog.modal-sm
//-     form(action='/payment', method='POST')
//-       .modal-content
//-         .modal-header
//-           button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
//-           h4.modal-title  Payment
//-         .modal-body
//-           .container-fluid
//-             .row
//-               p You are about to pay a member of his bills. Do you wish to proceed?
//-             br
//-             input.id(type='text' name='id' )

//-         .modal-footer
//-           button.btn.btn-default(type='button', data-dismiss='modal') Close
//-           button.btn.btn-primary(type='submit') Pay
include ../../../../templates/foot

script.
  $('#saveAsPDF').click(function(){
    html2canvas($('.toPrint'), {
      onrendered: function (canvas) {
        var time = new Date();
        var img = canvas.toDataURL('image/png');
        var doc = new jsPDF();
        doc.addImage(img, 'JPEG', 15, 20, 160, 100);
        doc.save('walkin_file_' + time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) + '.pdf');
      }
    })
  })

script.
  $(document).ready(function(){
    $('#transactionDrop').addClass('active');
    $('#walkin').addClass('active');
    });

script.
  $('.view-modal.modal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget);
      var fname = button.data('fname');
      var fee = button.data('fee');
      var mem = button.data('mem');
      var addr = button.data('addr');
      var em = button.data('em');
      var mob = button.data('mob');
      var id = button.data('id');
      let modal = $(this);

      modal.find('.modal-body #fname').text(`${fname}`);
      modal.find('.modal-body #fee').text(`₱ ${fee}.00`);
      modal.find('.modal-body #mem').text(`${mem}`);
      modal.find('.modal-body #addr').text(`${addr}`);
      modal.find('.modal-body #em').text(`${em}`);
      modal.find('.modal-body #mob').text(`${mob}`);
      modal.find('.modal-body #id').val(`${id}`);
    })

  
script.
  n = new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate();

  document.getElementById("date").innerHTML =m +"-" +d+"-"+y;

script.
  $('.pay-modal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget);
      var id = button.data('id');
      var memid = button.data('memid');
      let modal = $(this);


      modal.find('.modal-body .id').val(`${id}`);
      modal.find('.modal-body .memid').val(`${memid}`);
    })

    $(document).on('submit', '#add-btn', function(e) {
    var form = $(this).parents('form');
    e.preventDefault();
      swal({
        title: 'Success!',
        text: 'Walk-in successfully added!',
        type: 'success',
        showConfirmButton: false,
        timer: 1500
      });
      $('#add-walk').submit();
    }); 

script.
  $(document).ready(function(){
    $('.username').keyup(function () {
      var username = $(this).val()
      if (username.length >= 4) {
        $.post('/walkinval').done(function (data) {
          console.log(data)
          for (i = 0; i < data.length; i++) {
            if (data[i].userusername != username) {
              $('#prompt').empty()
              $('.add').attr('disabled', false)
            } else {
              $('.add').attr('disabled', true)
              $('.username').addClass('inv')
              $('.username.input.form-control').addClass('inv')
              $('#prompt').text('*Cannot add exisiting Walkin Client')
              $('#prompt').css({
                'color':'#ff6961',
                'font-weight':'bold'
              })
            }
          }
        })
      }
      else{
        $('#prompt').empty() 
        $('.add').attr('disabled', false)
      }
    })
  })