include ../../../templates/tr-head
style.
  button{
    margin-left: 2px;
  }
  .content-panel{
    margin-bottom: 200px!important;
  }

block main   
  .container
    .content
      .row
        .col-md-12
          .content-panel
            h4(style='margin-left:0;') Accepted Trainees
            br
            table.table.table-striped
              thead
                tr
                  th Trainee Name
                  th Action
              tbody
                each pe in trainee
                  tr
                    td #{pe.userfname} #{pe.userlname}
                    td
                      button.view.btn.btn-primary.btn-xs(
                        value               = pe.userid,
                        data-fname          = pe.userfname,
                        data-lname          = pe.userlname,
                        data-gender         = pe.usergender,
                        data-bday           = pe.userbday,
                        data-spec           = pe.specialname,
                        data-membershipname = pe.membershipname,
                        data-memclassname   = pe.memclassname
                        )
                        i.fa.fa-search
                      button.sched.btn.btn-success.btn-xs(value = pe.userid)
                        i.fa.fa-calendar-alt

                      button.decline.btn.btn-danger.btn-xs(value = pe.userid)
                        i.fa.fa-times

include ../../../templates/foot

script.
  
  $(document).ready(function () {
    $('.view').click(function () {
      var bday = moment().diff($(this).data('bday'), 'years', false)
      swal({
        title: `${$(this).data('fname')} ${$(this).data('lname')}`,
        html: `
        <b>Age:        </b>${bday} years old<br>
        <b>Gender:     </b>${$(this).data('gender')}<br>
        <b>Membership: </b>${$(this).data('memclassname')} - ${$(this).data('membershipname')}<br>
        <b>Focus:      </b>${$(this).data('spec')}<br>
        `,
        type: 'info'
      })
    })

    $('.sched').click(function () {
      location.href = `/trainer/trainee-sched?id=${$(this).val()}`
    })
  })

  