include ../../../templates/tr-head
block main   

  .container
    section.wrapper.site-min-height(style='margin-top:15px;')
      .col-lg-12
        .row.content-panel
          .col-md-4.profile-text.mt.mb.centered
            h3#membership #{general.memclassname} - #{general.membershipname}
            h6 Membership
            h3#session #{general.session_count}
            h6 Sessions Left
          .col-md-4.profile-text
            h3#fullname #{general.userfname} #{general.userlname}
            h6
              #branch #{general.memclassname} - #{general.membershipname}
              br
              #genderAge #{general.usergender} - #{general.userbday} yrs old 
              br
              #email #{general.useremail}
              br
              #mobile #{general.usermobile} 
              input(type='hidden' value=`${general.userid}` id ='aydi')
            h3 Other Trainees:
              #otherMember
              //- a(href='#')
              //-   img.img-circle(style='width:40px;margin-right:5px;', src='../../../assets/img/ui-zac.jpg')
              //- a(href='#')
              //-   img.img-circle(style='width:40px;margin-right:5px;', src='../../../assets/img/ui-sherman.jpg')
          .col-md-4.centered
            .profile-pic
              p
                img.img-circle.img-thumbnail(width=150 src='../../../assets/img/chip.png')
              p
                button.btn.btn-theme(value= general.memid, data-toggle='modal', data-target='.prompt')
                  | Give Up Client
      .col-lg-12.mt
        .row.content-panel
          .panel-heading
            ul.nav.nav-tabs.nav-justified
              li.active
                a(data-toggle='tab', href='#manage') Manage Current Trainee's Schedule
              li
                a(data-toggle='tab', href='#sched') All Trainees' Schedules
              li
                a(data-toggle='tab', href='#history') History of Sessions
          .panel-body
            .tab-content
              #manage.tab-pane.active
                .row
                  .col-lg-3.mt.text-center
                    .panel-body
                      h5 Sessions left to Schedule: 
                      h1#sessionForSched #{general.sessionForSched}
                    
                  .col-lg-9.mt
                      .panel-body
                        #calendar
              #sched.tab-pane
                .row
                  .col-lg-12.mt
                    section.panel
                      .panel-body
                        #calendar2
              #history.tab-pane
                .row
                  .col-lg-12.mt
                    table.table
                      thead
                        tr
                          th Date & Time
                          th Status
                          th
                      tbody
                        tr
                          td 01/01/18 (8:00-9:00PM)
                          td Success
                          td
                            a(style='color:rgb(18, 35, 49); cursor:pointer;', data-toggle='modal', data-target='#remove')
                              i.fa.fa-times
                
.prompt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Change Trainer
      form(action='/send', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-md-12
                .form-group
                  h4 Reason for Changing trainer:
                  textarea.form-control(rows='3')
      .modal-footer
        button.btn.btn-primary(type='submit') Save
        
#calendar-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Change Trainer
      form(action='/send', method='POST')
        .modal-body
          .container-fluid
            .row
              .col-md-12
                .form-group
                  h4 Reason for Changing trainer:
                  textarea.form-control(rows='3')
      .modal-footer
        button.btn.btn-primary(type='submit') Save

include ../../../templates/foot

//- ADD BUTTONS w/ ID
script.
  $(document).ready(function(){
    $.post('/trainer/trainee/OtherMember',{
      othermember: $('#aydi').val()
    }).done(function(data){
      for(var i=0;i<data.othermember.length;i++)
      {
        $('#otherMember').append(`
        <button class='member btn-primary' style='border:none' value= ${data.othermember[i].userid}> ${data.othermember[i].userfname} </button>
        `)
      }
    })
  })

//- VIEW TRAINEE w/ BUTTON CLICKED
script.
  $(document).ready(function(){
    $(document).on('click', '.member', function(){
      
      var othermember = $(this).val()
        $.post('/trainer/trainee/OtherMember/view',{
          newmember: othermember
        }).done(function(data){
          
          data.newmember[0].userbday = moment().diff(data.newmember[0].userbday, 'years', false);

          $('#membership').text(data.newmember[0].memclassname+" "+"-"+" "+data.newmember[0].membershipname)
          $('#session').text(data.newmember[0].session_count)
          $('#fullname').text(data.newmember[0].userfname+" "+data.newmember[0].userl name)
          $('#branch').text(data.newmember[0].memclassname+" "+"-"+" "+data.newmember[0].membershipname)
          $('#genderAge').text(data.newmember[0].usergender+" "+"-"+" "+data.newmember[0].userbday+" yrs old")
          $('#email').text(data.newmember[0].useremail)
          $('#mobile').text(data.newmember[0].usermobile)
          $('#sessionForSched').text(data.newmember[0].sessionForSched)
          
          $('#otherMember').empty()
          $.post('/trainer/trainee/otherMember',{othermember}).done(function(data){
            for(var i=0;i<data.othermember.length;i++)
             {
            $('#otherMember').append(`
            <button class='member btn-primary' style='border:none' value= ${data.othermember[i].userid}> ${data.othermember[i].userfname}</button>
            `)
             }
          })
        })
    });
  });

//- INITIALIZE CALENDAR
script.
  $(document).ready(function(){
    
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        allDaySlot: false,
        weekMode: 'liquid',
        editable: true,
        eventOverlap:false,
        eventResize: function(event, dayDelta, minuteDelta, revertFunc){
          revertFunc()
        },
        //- dayClick: function(date) {
        //-   let currDate = moment(date).format('YYYY-MM-DD')
        //-   alert(currDate);
        //- },
        eventClick:  function(event, jsEvent, view) {
          alert('Schedule Clicked!')
        },
        selectable: true,
        selectHelper: true,
        select: function(date, jsEvent, view){
          //- if (moment().diff(start, 'days') > 0) {
          //-   $('#calendar').fullCalendar('unselect');
          //-   return false;
          //- }
          var view = $('#calendar').fullCalendar('getView')
          if(view.name == 'agendaWeek'){
            scheduleDate = moment(date).format('YYYY-MM-DD')
            var scheduleDate2 = moment(scheduleDate, 'YYYY-MM-DD').format('MMM D YYYY')
            timeStart = moment(date).format('hh:mm a')
            timeEnd = moment(timeStart, 'hh:mm a').add(1,'h').format('hh:mm a')
            console.log('DATA TO BE SAVED')
            console.log(scheduleDate)
            console.log(timeStart)
            console.log(timeEnd)

            swal({
              title: 'Schedule a Personal Training Session on',
              html: `<b>${scheduleDate2}</b></br><b>${timeStart} - ${timeEnd}</b>`,
              type: 'info',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Confirm'
            }).then((result)=>{
              console.log(result)
              if (result.dismiss != 'cancel'){
                $.post('/trainer/trainee/schedule/', {
                  othermember: $('#aydi').val()
                }).done(function(data){
                  console.log(data);
                  var memid = data[0].userid
                  var sessionid = data[0].sessionID
                  var sessionDate = scheduleDate
                  var sessionTime = timeStart
                  console.log(memid);
                  console.log(sessionid);
                  console.log(sessionDate);
                  console.log(sessionTime);
                  $.post('/trainer/trainee/schedule/add',{
                    memid: memid,
                    sessionid: sessionid,
                    sessionDate: sessionDate,
                    sessionTime: sessionTime, 
                  }).done(
                    swal({
                    type: 'success',
                    title: 'You Succesfully Scheduled a Session',
                    showConfirmButton: false,
                    timer: 1500
                    }).then(()=>{
                      location.reload();
                    })
                  )
                })
              }
            })

          
            //- .then((result) => {
            //- if (result.value) {
            //-   $.post('/trainer/schedule/',{
            //-     othermember: $('#aydi').val()
            //-   }).done(function(data){
            //-     console.log(data)
            //-   })
              
            //- }
            //-   //- .done(function(data){
            //-   //-   console.log(data)
            //-   //- }

              
            //- //-     
            //- //-     })
                 
            //- //-     )
            //- //-   }
            //- //- })
          }
          else if(view.name == 'month'){
            $('#calendar').fullCalendar('changeView', 'agendaWeek')
            $('#calendar').fullCalendar('gotoDate', date)
          }
          else{
            return
          }
        }
      }) 

    $.post('/trainer/trainee/viewSched').done(function(data){
      var name = `${data[0].userfname} ${data[0].userlname}`
      for (var i = 0; i < data.length; i++){
        console.log(i)
        var sessionDate = moment(data[i].sessionDate).format('MM/DD/YYYY')
        data[i].sessionTime = moment(data[i].sessionTime, 'hh:mm a').format('hh:mm a')
        var timeEnd = moment(data[i].sessionTime, 'hh:mm a').add(1,'hour').format('hh:mm a')

        //- console.log(`${sessionDate} ${data[i].sessionTime}`);
        var test = moment(`${sessionDate} ${data[i].sessionTime}`).format('YYYY-MM-DD HH:mm')
        var test2 = moment(`${sessionDate} ${timeEnd}`).format('YYYY-MM-DD HH:mm')
        console.log(test)
        console.log(test2)
        //- console.log(`${sessionDate} ${timeEnd}`);

        $('#calendar').fullCalendar('renderEvent',{
          title: name,
          start: test,
          end: test2,
          eventStartEditable: true
        })
      }
    })
  })