include ../../../../templates/head

block main      
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-lg-12
					section.panel
						.panel-body
							form.form-horizontal.style-form.needs-validation(novalidate)
								.container-fluid
									h3 
										i.fa.fa-wrench
										|
										| General Settings
										hr
								.container-fluid
									h4 System Settings
									br
									.row.mb
										label.col-sm-2.col-sm-2.control-label Gym Name 
										.col-sm-4
											input#gymname.form-control(type='text' name='gymname' value=utils.gymname required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Company Name 
										.col-sm-4
											input#companyname.form-control(type='text' name='companyname' value=utils.companyname required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Main Address 
										.col-sm-4
											input#address.form-control(type='text', placeholder='4408 Old. Sta. Mesa St, Newton Plaza' name='address' value=utils.address required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label City 
										.col-sm-4
											input#city.form-control(type='text', placeholder='Sta. Mesa Manila' name='city' value=utils.city required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Office Cellphone Number
										.col-sm-4
											input#phone.form-control(type='text' name='phone' value=utils.phone required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Email
										.col-sm-4
											input#email.form-control(type='email' name='email' value=utils.email required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Gym Logo
										.col-sm-4
											a.btn.btn-success.btn-xs(data-toggle='modal', data-target='#add') 
												i.fa.fa-edit
												|  Change logo image     
											if utils.logo !== null 
												p Current Logo - #{utils.logo}
											else
												p Acceptable file type (jpg., png)
									.row.mb
										.col-sm-3
											.input-group
												span.input-group-addon#movetoerror(style="padding-left: 0; font-size: 13px;") Work Days:
												label.checkbox.u
													| Mon
													input#mon.schedCheck(type='checkbox', name='sched[]' ,value=1)
													span.check
												label.checkbox.u
													| Tue
													input#tue.schedCheck(type='checkbox', name='sched[]', value=2)
													span.check
												label.checkbox.u
													| Wed
													input#wed.schedCheck(type='checkbox', name='sched[]', value=3)
													span.check
										.col-sm-3
											.input-group
												span.input-group-addon
												label.checkbox.u(style='margin:0')
													| Thur
													input#thur.schedCheck(type='checkbox', name='sched[]',value=4)
													span.check
												label.checkbox.u(style='margin:0')
													| Fri
													input#fri.schedCheck(type='checkbox', name='sched[]',value=5)
													span.check
												label.checkbox.u(style='margin:0')
													| Sat
													input#sat.schedCheck(type='checkbox', name='sched[]',value=6)
													span.check
										.col-sm-3
											.input-group
												span.input-group-addon
												label.checkbox.u(style='margin-left:-150px;')
													| Sun
													input#sun.schedCheck(type='checkbox', name='sched[]', value=0)
													span.check
									.row.mb
										label.col-sm-2.col-sm-2.control-label Business Hours
										.col-sm-2
											input#starttime.form-control(type='time' name='starttime' placeholder='Start Time' value=utils.starttime required)
											p Opening Time
										.col-sm-2
											input#endtime.form-control(type='time' name='endtime' placeholder='Start Time' value=utils.endtime  required)
											p Closing Time

								.container-fluid
									br
									br
									h4 Admin Account
									br
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Full Name
										.col-sm-2
											input#userfname.form-control(type='text' name='userfname' value=admin.userfname, data-id=admin.userid required)
										.col-sm-2
											input#userlname.form-control(type='text' name='userlname' value=admin.userlname required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Username
										.col-sm-4
											input#username.form-control(type='text' name='username' value=admin.userusername required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Pic
										.col-sm-4
											a.btn.btn-success.btn-xs(data-toggle='modal', data-target='#admin') 
												i.fa.fa-edit
												|  Change Pic   
											- console.log(admin.pic)
											if admin.pic!== null 
												p Current Logo - #{admin.pic}
											else
												p Acceptable file type (jpg., png)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Password
										.col-sm-4
											input#password.form-control(type='password' name='password' value=admin.userpassword required)
									.row.mb
										label.col-sm-2.col-sm-2.control-label Retype Password
										.col-sm-4
											input#confirmpassword.form-control(type='password' name='confirmpassword' value=admin.userpassword required)
											p#prompt(style='display:none; color:red') Password did not match!

								.container-fluid
									br
									br
									h4 Measurement & fees
									br
									.row.mb
										label.col-sm-2.col-sm-2.control-label Currency Symbol
										.col-sm-4
											input#currsymbol.form-control(type='text' value=utils.currsymbol required)
									each rate in rates
										.row.mb
											label.col-sm-2.col-sm-2.control-label #{rate.genname}
											.col-sm-4
												input.form-control.rates(type='number', value=rate.fee, data-id=rate.generalID name=rate.generalID required) 
									.row.mb
										.col-sm-2
										.col-sm-4
											button#submit.btn.btn-primary(type='submit') Save
								input#trainerschedule.hidden(value=utils.workdays)
	//add
	#add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title Update LOGO
				form(action='/logo', method='POST', autocomplete='off' novalidate id='add-staff' enctype='multipart/form-data')
					.modal-body
						.container-fluid
							.row
								.col-md-4
									| Upload your Image 
									input#upload(type='file', name='img' ,accept="image/*")
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.btn.btn-primary(type='submit' ) Save
		//add
	#admin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title Update Admin Pic
				form(action='/adminpic', method='POST', autocomplete='off' novalidate id='add-staff' enctype='multipart/form-data')
					.modal-body
						.container-fluid
							.row
								.col-md-4
									| Upload your Image 
									input#uploads(type='file', name='img' ,accept="image/*")
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button.admin.btn.btn-primary(type='submit' ) Save



include ../../../../templates/foot

script.
	$(function(){

		const currSchedule = $('#trainerschedule').val()
		let  currScheduleArray = currSchedule.split(',')
		if (currScheduleArray.includes('0')){
			$('#sun').prop('checked', true);
		}
		if (currScheduleArray.includes('1')){
			$('#mon').prop('checked', true);
		}
		if (currScheduleArray.includes('2')){
			$('#tue').prop('checked', true);
		}
		if (currScheduleArray.includes('3')){
			$('#wed').prop('checked', true);
		}
		if (currScheduleArray.includes('4')){
			$('#thur').prop('checked', true);
		}
		if (currScheduleArray.includes('5')){
			$('#fri').prop('checked', true);
		}
		if (currScheduleArray.includes('6')){
			$('#sat').prop('checked', true);
		}
	})

script.
	$(function () {
		$('.needs-validation').validate({

			submitHandler: function (form) {
				const checkboxes = $('.schedCheck');
				const finalSched = [];
				for (let i = 0; i < checkboxes.length; i++) {
					checkboxes[i].checked && finalSched.push(checkboxes.eq(i).val())
				}
				const newsched = finalSched.toString()
				const gymname = $('#gymname').val()
				const companyname = $('#companyname').val()
				const address = $('#address').val()
				const city = $('#city').val()
				const phone = $('#phone').val()
				const email = $('#email').val()
				const logo = $('#logo').val()
				const userid = $('#userfname').data('id')
				const userfname = $('#userfname').val()
				const userlname = $('#userlname').val()
				const username = $('#username').val()
				const password = $('#password').val()
				const confirmpassword = $('#confirmpassword').val()
				const currsymbol = $('#currsymbol').val()
				const rates = $('.rates')
				const starttime = $('#starttime').val()
				const endtime = $('#endtime').val()
				console.log({starttime, endtime})

				if (password == confirmpassword) {
					swal({
						title: 'Are you sure?',
						text: 'Utilites are used throughout the system',
						type: 'warning',
						showCancelButton: true,
						cancelButtonColor: '#d33',
						confirmButtonColor: '#3085d6',
						confirmButtonText: 'Yes'
					}).then((result) => {
						if (result.value) {
							swal({
								title: 'Success!',
								text: 'Class added successfully!',
								type: 'success',
								showConfirmButton: false,
								timer: 1500
							})

							for (i = 0; i < rates.length; i++) {
								const rate = $(rates[i]).val()
								const id = $(rates[i]).data('id')
								$.post('/edit/rates', {
									rate,
									id
								})
							}

							$.post('/edit/utilities', {
								gymname,
								companyname,
								address,
								city,
								phone,
								email,
								logo,
								newsched,
								userid,
								userfname,
								userlname,
								username,
								password,
								currsymbol,
								starttime,
								endtime
							})

						}
					})
				} else {
					$('#prompt').css('display', 'block')
					$('html, body').animate({
						scrollTop: $("#movetoerror").offset().top
					}, 500);
				}
			}
		})
	})

script.
	$(document).ready(function() {
		$('#btn-add-staff').bind("click",function() 
		{ 
			var imgVal = $('#upload').val(); 
			if(imgVal=='') 
		{ 
			alert("empty input file"); 
			return false; 
		} 



		}); 
	});

script.
	$(document).ready(function() {
		$('.admin').bind("click",function() 
		{ 
			var imgVal = $('#uploads').val(); 
			if(imgVal=='') 
		{ 
			alert("empty input file"); 
			return false; 
		} 



		}); 
	});