include ../../../templates/mem-head

block main   
  .container
    .content
      .row.centered
        h3
          strong ACTIVE CLASSES 
        br
        .search-container
          form(action='#')          
            .container
              .col-md-2(style="position:relative; left:450px;")  
                input.form-control.t-search(type='text', name='search', placeholder='Search...' style="width:160px")
              .col-md-1(style="position:relative; left:450px;")  
                .form-control.btn-primary(style="width:40px; position:relative; left:-40px;")
                  i.fa.fa-search
        br
        br
        - console.log(classes)
        each c in classes
          .col-lg-4.col-md-4.col-sm-4.mb
            .content-panel(style="background-color:gray; padding:0; color:white; padding-top: 20px;")
              h3#slot(style='padding:0; margin:0; position:absolute;top:10px; left:20px;') #{c.slot}
              p(style='position:absolute;top:13px; left:50px;') - remaining slots
              h3 #{c.eventclassname}
              h6(style="margin:0!important") SAT/SUN 
              | #{c.starttime} - #{c.endtime}
              br
              br
              br
              button.btn-block.btn-primary.join(style=" padding:5px; font-weight: bold; border:none" value = c.eventclassid)
                  | Join
              .content-panel(style="margin:0!important; color:#797979;padding:5px 10px; width:100%;box-shadow:none; border-radius:0;")
                br
                h6(style="margin:0!important;") 
                  b Class Description:
                | #{c.desc}
                br
                br
      br
      br
      br

.join-prompt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Join
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row(style='margin-top:15px; margin-bottom:15px;') 
              .container-fluid
                h4 Are you sure you would like to join?
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Yes

.resign-prompt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Resign
      form(action='POST', method='')
        .modal-body
          .container-fluid
            .row(style='margin-top:15px; margin-bottom:15px;') 
              .container-fluid
                h4 Are you sure you want to resign?
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Yes

//- #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
//-   .modal-dialog.modal-sm
//-     .modal-content
//-       .modal-header
//-         button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
//-         h4.modal-title KICKBOXING
//-       form(action='', method='post')
//-       .modal-body  
//-         .text-center
//-           h3 SLOTS LEFT:
//-           h1(style="font-size:72px") 31
//-           button.btn.btn-primary#join(type='button') Join        


include ../../../templates/foot

script.

  $(document).ready(function(){
    $('.join').click(function(){
      let id = $(this).val()
      swal({
        title: 'Are you sure?',
        text: "This will just inform the trainer in-charge of the possibility of you attending the class",
        type: 'info',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then((result) => {
        if (result.value) {
          $.post('/member/class/join',{id:id}).done(
           swal({
              type: 'success',
              title: 'You Succesfully joined a Class',
              showConfirmButton: false,
              timer: 1500
            }).then(()=>{
              location.reload();
            }).then(()=>{
            })
          )
        }
      })
    })
  })
