include ../../../templates/mem-head

block main   

  .container
    .content
      .col-lg-8.mt
        section.panel
          .panel-body
            #kalendaryo
      each pr in profs
        .col-lg-4.mt
          section.panel
            .panel-body
              .row
                .white-panel
                  .white-header
                    h5 Profile
                  p
                    img.img-circle(src='assets/img/ui-zac.jpg', width='80')
                  p
                    b #{pr.userfname} #{pr.userlname}
                  .row
                    .col-md-6
                      p.small.mt MEMBER SINCE
                      p #{pr.acceptdate}
                    .col-md-6
                      p.small.mt TOTAL SPEND
                      p ₱ #{total}
        - console.log(fee)
        .col-lg-4.mt
          section.panel
            .panel-body
              .row
                .white-panel
                  .white-header
                    h5 Price per Session today
                  .row
                    h1 ₱ #{fee.fee}.00




include ../../../templates/foot
include ../../../templates/sub-foot

script.
  $(document).ready(function () {

    setInterval(function(){
      $.post('/member/create-notification').done(function(){
      })
    }, 1000)

    $.post('/member/event/view').done(function (data) {

      var events = []
      var eventId 
      var type
      var now = moment().format('YYYY-MM-DD')
    
      console.log("DATA:", data)
      console.log("EVENTS:", events)

      for (i = 0; i < data.length; i++) {

        //- events
        let name = `${data[i].eventclassname}`
        let dateStart = moment(data[i].startdate).format('YYYY-MM-DD')
        let dateEnd = moment(data[i].enddate).format('YYYY-MM-DD')
        let timeStart = moment(data[i].starttime, 'hh:mm A').format('HH:mm')
        let timeEnd = moment(data[i].endtime, 'hh:mm A').format('HH:mm')
        let start = `${dateStart} ${timeStart}`
        let end = `${dateEnd} ${timeEnd}`
        eventId = data[i].eventclassid
        type = data[i].type

        //- class
        let days = `[${data[i].days}]`  
        let daysArray = JSON.parse(days)
        console.log(data[i].days, days, daysArray)
        let eventDesc = {
          id: eventId,
          title: name,
          start: start,
          end: end,
          type: data[i].type,
          color: '#966fd6'
        }

        let classDesc = {
          id: eventId,
          title: name,
          start: timeStart,
          end: timeEnd,
          type: data[i].type,
          dow: daysArray
        }
        events.push(eventDesc, classDesc)
      }

      $('#kalendaryo').fullCalendar({
        header: {
          left: 'prev,next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        events: events,
        eventRender: (event, element) => {
          if (event.type == 2) {
            element.css({
              'background-color': '#ffb347',
              'border-color': '#ffb347'
            });
          }
        },
        select: function (startDate, jsEvent, view) {
          let view = $('#kalendaryo').fullCalendar('getView')
          if (view.name != 'month') {
          } else if (view.name == 'month') {
            $('#kalendaryo').fullCalendar('changeView', 'agendaDay')
            $('#kalendaryo').fullCalendar('gotoDate', startDate)
          } else {
            return
          }
        },
        viewRender: (view, element) => {
          $('#kalendaryo').fullCalendar( 'rerenderEvents' )
        },
      })
    })
  })