include ../../../templates/mem-head

block main   

  .container
    .content
      .col-lg-8.mt
        section.panel
          .panel-body
            #kalendaryo
      each pr in profs
        .col-lg-4.mt
          section.panel
            .panel-body
              
                .white-panel
                  .white-header
                    h5 Profile
                  p
                    img.img-circle(src='assets/img/ui-zac.jpg', width='80')
                  p
                    b #{pr.userfname} #{pr.userlname}
                  .row
                    .col-md-6
                      p.small.mt MEMBER SINCE
                      p #{pr.acceptdate}
                    .col-md-6
                      p.small.mt TOTAL SPEND
                      p ₱ #{total}.00
        .col-lg-4.mt
          section.panel
            .panel-body
              .row
                .white-panel
                  .white-header
                    h5 Price per Session today
                  .row
                    h1
                      | ₱ 50.00
                  


include ../../../templates/foot

script.
  $(document).ready(function () {

    $.post('/member/event/view').done(function (data) {

      var evs = []
      var cls = []
      var evsId 
      var type
      //- var joined
      console.log(data)

      for (i = 0; i < data.length; i++) {
        //- events
        let name = `${data[i].eventclassname}`
        let dateStart = moment(data[i].startdate).format('YYYY-MM-DD')
        let dateEnd = moment(data[i].enddate).format('YYYY-MM-DD')
        let timeStart = moment(data[i].starttime, 'hh:mm A').format('HH:mm')
        let timeEnd = moment(data[i].endtime, 'hh:mm A').format('HH:mm')
        let start = `${dateStart} ${timeStart}`
        let end = `${dateEnd} ${timeEnd}`
        evsId = data[i].eventclassid
        type = data[i].type

        //- class

        let days = `[${data[i].days}]`  
        var array = JSON.parse(days)
    
        var desc = {
          id: evsId,
          title: name,
          start: start,
          end: end,
          type: data[i].type,
          color: '#966fd6'
        }

        var desc2 = {
          id: evsId,
          title: name,
          start: timeStart,
          end: timeEnd,
          type: data[i].type,
          dow: array
        }
        evs.push(desc)
        cls.push(desc2)
      }
      console.log(evs, 'evs')
      console.log(array, '<<<<')
     
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();
      var now = moment().format('YYYY-MM-DD')

      //- $('#kalendaryo').fullCalendar({
      //-   events: evs
      //- })
    
      
       $('#kalendaryo').fullCalendar({
        header: {
          left: 'prev,next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        events: evs,
        eventRender: function(event, element) {
          if (event.type == 2) {
            element.css({
                'background-color': '#ffb347',
                'border-color': '#ffb347'
            });
          }
        },
        select: function (startDate, jsEvent, view) {
          var view = $('#kalendaryo').fullCalendar('getView')
          if (view.name != 'month') {
           
          } else if (view.name == 'month') {
    
            $('#kalendaryo').fullCalendar('changeView', 'agendaDay')
            $('#kalendaryo').fullCalendar('gotoDate', startDate)
           
          } else {
            return
          }
        },
        viewRender: function(view, element){
          $('#kalendaryo').fullCalendar( 'rerenderEvents' )
        },
      })
      $('#kalendaryo').fullCalendar('renderEvents', cls)
    })
  })