include ../../../templates/mem-head
append head
  style.
    .error {
      color: red
    }
    img:hover{
      cursor: pointer
    }

block main   

  .container
    section.wrapper(style='margin-top:15px;')
      #info.col-md-5
        form.form-horizontal.style-form.needs-validation(novalidate)
          .content-panel
            center
              each pr in profs  
                img(src=`/assets/images/${pr.pic}`, alt="" width='128' height='128' data-toggle='modal', data-target='#edit-image')
                a.btn.btn-success.btn-xs(data-toggle='modal', data-target='#edit-image' style="position: absolute; top: 35px; right: 173px;") 
                  i.fa.fa-edit      
                h4(style='margin-bottom:18px') #{pr.userfname} #{pr.userlname}
                a#edit.btn.btn-primary.btn-xs(style="position:relative; bottom:10px; cursor:pointer:") 
                  i.fa.fa-edit
                  |  Edit
                a#cancel.btn.btn-default.btn-xs(style="position:relative; bottom:10px; cursor:pointer; display:none;") 
                  |  Cancel
                |
                |
                button#save.btn.btn-primary.btn-xs(type="submit" style="position:relative; bottom:10px; cursor:pointer; display:none; padding-left: 10px; padding-right: 10px") 
                  |  Save 
                
                br
                br
                br
            h4 
              i.fa.fa-dumbbell(style="margin-right: 10px;")
              | Personal Information
            hr
            #fields
              .row
                .col-md-6
                  h5 
                    b Address: 
                .col-md-6
                each pr in profs
                  h5 #{pr.useraddress} 
              .row
                .col-md-6
                  h5
                    b Gender:
                .col-md-6
                each pr in profs
                  h5.ucwords #{pr.usergender}
              .row
                .col-md-6
                  h5 
                    b Birthdate: 
                .col-md-6
                each pr in profs
                  h5 #{pr.userbday}
            
            #editFields(style='display:none; height: 270px')
                .row(style='margin-bottom:5px;')
                each pr in profs
                    label.col-sm-4.control-label(style=' font-weight:bold') Address: 
                    .col-sm-8
                      input#address.form-control(type="text" value = pr.useraddress , name='address' required) 
                .row(style='margin-bottom:5px;')
                each pr in profs
                    label.col-sm-4.control-label(style='font-weight:bold') Contact: 
                    .col-sm-8
                      input#contact.form-control(type="number" maxlength='11' value = pr.usermobile , name='contact' required)
                .row(style='margin-bottom:5px;') 
                each pr in profs
                    label.col-sm-4.control-label(style=' font-weight:bold') Email: 
                    .col-sm-8
                      input#email.form-control(type="email" value = pr.useremail , name='email' required)
                .row(style='margin-bottom:5px;')
                each pr in profs
                    label.col-sm-4.control-label(style=' font-weight:bold') Username: 
                    .col-sm-8
                      input#username.form-control(type="text" value = pr.userusername , name='username' required)
                .row(style='margin-bottom:5px;')
                each pr in profs
                    label.col-sm-4.control-label(style=' font-weight:bold') Password: 
                    .col-sm-8
                      input#password.form-control(type="password" value = pr.userpassword , name='password' required)
                .row(style='margin-bottom:5px;')
                each pr in profs
                    label.col-sm-4.control-label(style=' font-weight:bold') Confirm Password: 
                    .col-sm-8
                      input#rpassword.form-control(type="password" value = pr.userpassword , name='rpassword'  required)
                .row(style='margin-bottom:5px;')
                  #prompt(style='margin-left:30px; margin-top:10px')
               
                
      #extra.col-md-7
        .content-panel
          h4 
            i.fa.fa-dumbbell(style="margin-right: 10px;")
            | Membership Information
          hr
          .row
            .col-md-6
              h5 
                b Membership Type: 
            .col-md-12
              center
                each pr in profs
                  h1 #{pr.memclassname} 
                    br 
                    | #{pr.membershipname}
                    br
                    br
              center
                each pr in profs  
                  h5 Last Paid on
                    b 
                      | #{pr.paymentdate}
                //- button.btn.btn-primary.btn-xs(style='margin-right: 5px')
                //-   i.fa.fa-snowflake
                //-   |
                //-   | Freeze
                //- button.btn.btn-success.btn-xs
                //-   i.fa.fa-level-up-alt 
                //-   |
                //-   | Upgrade 
                
          br
          .row
            .col-md-6
              h5 
                b Trainer Enrolled:
            .col-md-6
              each pr in profs
                if pr.trainerfname == undefined
                  h5 Not yet applied to a trainer. 
                    | 
                    a(href='trainers', style='cursor: pointer') Apply now?
                else 
                  h5 #{pr.trainerfname} #{pr.trainerlname}
          .row
            .col-md-6
              h5 
                b Member Since: 
            .col-md-6
              each pr in profs
                h5 #{pr.acceptdate}
          .row
            .col-md-6
              h5 
                b Membership Expiry: 
            .col-md-6
              each pr in profs
                h5 #{pr.expirydate}
      //- edit image
      #edit-image.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Update Profile
            form.needs-validation-image(action='/member/pic/edit', method='POST', autocomplete='off' novalidate id='add-staff' enctype='multipart/form-data')
              .modal-body
                .container-fluid
                    .row
                      .col-md-8
                        | Upload your Image 
                        input#upload(type='file', name='img' ,accept="image/*" required)
                      .col-md-4
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        |
                        |
                        button.btn.btn-primary.addButton(type='submit' id='btn-add-staff') Save
      
include ../../../templates/foot
include ../../../templates/sub-foot

script.


  $('#edit').click(function(){
    $('#extra').hide();
    $('#edit').hide();
    $('#cancel').show();
    $('#save').show();
    $('#fields').hide();
    $('#editFields').show();

    $('#info').animate({
      'left':'28%'
    })
    
  })
  $('#cancel').click(function(){
    $('#extra').show();
    $('#edit').show();
    $('#cancel').hide();
    $('#save').hide();
    $('#fields').show();
    $('#editFields').hide();

    $('#info').animate({
      'left':'0%'
    })
  })
  $('.needs-validation-image').validate()
  $('.needs-validation').validate({
    submitHandler: function(form) {
      if( $('#password').val() == $('#rpassword').val() ){

      $.post('/member/profile/edit', {
        address: $('#address').val(),
        contact: $('#contact').val(),
        email: $('#email').val(),
        username: $('#username').val(),
        password: $('#password').val()
        }).done(
          swal(
            'Succesful!',
            'You succesfully edited your profile.',
            'success'
          ).then((result) => {
            if (result.value){
              $('#prompt').text('')
              $('#editFields').hide();
              $('#fields').show();
              $('#save').hide();
              $('#cancel').hide();
              $('#edit').show();
              $('#extra').show();
              $('#info').animate({
                'left': '0%'
              })
            }
          })
        )
      }
      else{
        $('#prompt').text('Password did not match.').css({
          'color':'red',
          'font-weight':'bold'
        })
      }
    }
  })
