include ../../../templates/mem-head
block main   

  .container
    section.wrapper(style='margin-top:15px;')
      #info.col-md-5
        .content-panel
          center
            img(src="/assets/img/ui-zac.jpg", alt="" )
            each pr in profs              
              h4(style='margin-bottom:18px') #{pr.userfname} #{pr.userlname}
              a#edit.btn.btn-primary.btn-xs(style="position:relative; bottom:10px; cursor:pointer:") 
                i.fa.fa-edit
                |  Edit
              a#save.btn.btn-success.btn-xs(style="position:relative; bottom:10px; cursor:pointer; display:none; margin-right:5px") 
                |  Save Changes
              a#cancel.btn.btn-default.btn-xs(style="position:relative; bottom:10px; cursor:pointer; display:none;") 
                |  Cancel
              
              br
              br
              br
          h4 
            i.fa.fa-dumbbell(style="margin-right: 10px;")
            | Personal Information
          hr
          #fields
            .row
              .col-md-6
                h5 
                  b Address: 
              .col-md-6
              each pr in profs
                h5 #{pr.useraddress} 
            .row
              .col-md-6
                h5
                  b Gender:
              .col-md-6
              each pr in profs
                h5.ucwords #{pr.usergender}
            .row
              .col-md-6
                h5 
                  b Birthdate: 
              .col-md-6
              each pr in profs
                h5 #{pr.userbday}
                br
              
          
          #editFields(style='display:none')
            form.form-inline
            
              .row(style='margin-bottom:5px;')
              each pr in profs
                .form-group
                  label(style='margin-left:15px; font-weight:bold') Address: 
                  input#address.form-control(type="text" value = pr.useraddress , name='address' style='position:relative; right:-130px')
              .row(style='margin-bottom:5px;')
              each pr in profs
                .form-group
                  label(style='margin-left:15px;font-weight:bold') Contact: 
                  input#contact.form-control(type="text" value = pr.usermobile , name='contact' style='position:relative; right:-130px')
              .row(style='margin-bottom:5px;') 
              each pr in profs
                .form-group
                  label(style=' margin-left:15px;font-weight:bold') Email: 
                  input#email.form-control(type="email" value = pr.useremail , name='email' style='position:relative; right:-144px')
              .row(style='margin-bottom:5px;')
              each pr in profs
                .form-group
                  label(style=' margin-left:15px;font-weight:bold') Username: 
                  input#username.form-control(type="text" value = pr.userusername , name='username' style='position:relative; right:-115px')
                
      #extra.col-md-7
        .content-panel
          h4 
            i.fa.fa-dumbbell(style="margin-right: 10px;")
            | Membership Information
          hr
          .row
            .col-md-6
              h5 
                b Membership Type: 
            .col-md-12
              center
                each pr in profs
                  h1 #{pr.memclassname} 
                    br 
                    | #{pr.membershipname}
                    br
                    br
              center
                each pr in profs  
                  h5 Last Paid on
                    b 
                      | #{pr.paymentdate}
                button.btn.btn-primary.btn-xs(style='margin-right: 5px')
                  i.fa.fa-snowflake
                  |
                  | Freeze
                button.btn.btn-success.btn-xs
                  i.fa.fa-level-up-alt 
                  |
                  | Upgrade 
                
          br
          .row
            .col-md-6
              h5 
                b Trainer Enrolled:
            .col-md-6
              
              each pr in profs
                if pr.trainerfname == undefined
                  h5 Not yet applied to a trainer. 
                    | 
                    a(href='trainers', style='cursor: pointer') Apply now?
                else 
                  h5 #{pr.trainerfname} #{pr.trainerlname}
          .row
            .col-md-6
              h5 
                b Member Since: 
            .col-md-6
              each pr in profs
                h5 #{pr.acceptdate}
          .row
            .col-md-6
              h5 
                b Membership Expiry: 
            .col-md-6
              each pr in profs
                h5 #{pr.expirydate}

include ../../../templates/foot
script.
  $('#edit').click(function(){
    $('#extra').hide();
    $('#edit').hide();
    $('#cancel').show();
    $('#save').show();
    $('#fields').hide();
    $('#editFields').show();

    $('#info').animate({
      'left':'28%'
    })
    
  })
  $('#cancel').click(function(){
    $('#extra').show();
    $('#edit').show();
    $('#cancel').hide();
    $('#save').hide();
    $('#fields').show();
    $('#editFields').hide();

    $('#info').animate({
      'left':'0%'
    })
  })

  $('#save').click(function(){
    
    
    
    $.post('/member/profile/edit', {
      address: $('#address').val(),
      contact: $('#contact').val(),
      email: $('#email').val(),
      username: $('#username').val()
    }).done(
      swal(
        'Succesful!',
        'You succesfully edited your profile.',
        'success'
      ).then((result) => {
        if (result.value){
          $('#editFields').hide();
          $('#fields').show();
          $('#save').hide();
          $('#cancel').hide();
          $('#edit').show();
          $('#extra').show();
          $('#info').animate({
            'left': '0%'
          })
        }
      })
    )
  })