include ../../../templates/mem-head

block main   
  .container
    .content
      .row.centered
        h3
          strong ACTIVE TRAINERS
        br
        .search-container
          form(action='#')          
            .container
              .col-md-2(style="position:relative; left:450px;")  
                input.form-control.t-search(type='text', name='search', placeholder='Search...' style="width:160px")
              .col-md-1(style="position:relative; left:450px;")  
                .form-control.btn-primary(style="width:40px; position:relative; left:-40px;")
                  i.fa.fa-search
        br
        br
        - console.log(trainers)
        each trainer in trainers
         
          .col-lg-4.col-md-4.col-sm-4.mb(style="margin-bottom: 76px")
            .content-panel(style="background:url('/assets/img/trainerbg.jpg'); padding:0; color:white; padding-top: 20px;")
              h3 #{trainer.trainerfname} #{trainer.trainerlname}
              - var fullname = trainer.trainerfname +" "+ trainer.trainerlname
              button.view.btn-block.btn-primary(
                                      style          = "position:relative; top:45px; padding:5px; font-weight: bold; border:none; background-color:black" 
                                      data-target    = '.apply-modal', 
                                      data-toggle    = 'modal', 
                                      data-id        = trainer.trainerid,
                                      data-name      = fullname, 
                                      data-gender    = trainer.trainergender,
                                      data-branch    = trainer.branchname,
                                      data-type      = trainer.type,
                                      data-timestart = trainer.trainertimestart,
                                      data-timeend   = trainer.trainertimeend,
                                      data-workdays  = trainer.trainerschedule,
                                      data-special   = trainer.specialname,
                                      data-desc      = trainer.specialdesc,
                                      data-img       = trainer.trainerpic,
                                      onMouseOver    = "this.style.backgroundColor='black'"
                                    )
                i.fa.fa-search(style="padding-right:10px;" )
                | View
              .content-panel(style="margin:0!important; height: 90px; color:#797979;padding:6px 10px; position:relative; width:100%;top:45px;box-shadow:none; border-radius:0;")
                br
                h6(style="margin:0!important;") 
                  b Branch
                | #{trainer.branchname}
      br
      br
      br

.apply-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow: auto;')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close#return(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#myModalLabel.modal-title Trainer view Prompt
      form
        .modal-body
          .container-fluid
            .row 
              .col-md-6
                center
                  img.img-fluid#img(src="/assets/images/ui-sherman.jpg", alt="img" width='100%')
              .col-md-6
                .form-group
                  h5 
                    b Name: 
                    |
                    <span id='name'></span>
                  h5 
                    b Gender: 
                    |
                    <span id='gender'></span>
                  h5 
                    b Branch: 
                    |
                    <span id='branch'></span>
                  h5 
                    b Work Days: 
                    |
                    <span id='workdays'></span>
                  h5 
                    b Time Available: 
                    |
                    <span id='time'></span>
                  h5 
                    b Specialty: 
                    |
                    <span id='special'></span>
              
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.apply(type='button') Apply

include ../../../templates/foot
include ../../../templates/sub-foot

script.
  $('.a').click(function(){
    $('.apply-modal').modal('hide');
  });

  $('.apply').click(function(){
    swal({
      title: 'Are you sure?',
      text: `A pending request will be sent to the trainer that you stating that you want to their trainee `,
      type: 'info',
      showCancelButton: true,
      cancelButtonColor: '#d33'
    }).then((result) => {
      if (result.value) {
        $.post('/member/trainer/apply', { 
        trainerId: $(this).val()
        }).done(
          swal({
            title: 'Success!',
            text: `Your application has been sent`,
            type: 'success',
            showConfirmButton: false,
            timer: 1500
          }).then(()=>{
            location.reload();
          })
        ) 
      }
    })
  })

  $('.apply-modal').on('show.bs.modal', function(event){


    var button   =  $(event.relatedTarget)
    var id       =  button.data('id')
    var name     =  button.data('name')
    var gender   =  button.data('gender') 
    var branch   =  button.data('branch')  
    var workdays =  button.data('workdays')
    var special  =  button.data('special')  
    var desc     =  button.data('desc')
    var img      =  button.data('img')
    var timestart =  moment(button.data('timestart'), 'HH:mm:ss').format('hh:mm A')
    var timeend =  moment(button.data('timeend'), 'HH:mm:ss').format('hh:mm A')
    var time = `${timestart} - ${timestart}`
    var type =  button.data('type') 
    const hasWorkDays = workdays !== ''
    let workDaysArrayString

    if ( !hasWorkDays ) workDaysArrayString = "No definite schedule"
    if ( hasWorkDays ) {
      const workDaysToArray = workdays.split(',')
      const workDaysArray = workDaysToArray.map(day => {
        switch (day) {
          case '1': return "Mon" 
            break
          case '2': return "Tue"
            break
          case '3': return "Wed"
            break
          case '4': return "Thur"
            break
          case '5': return "Fri"
            break
          case '6': return "Sat"
            break
          case '0': return "Sun"
            break
        }
      })

      workDaysArrayString = workDaysArray.join(', ')
    }
   
    if (time == 'Invalid date - Invalid date'){
      time = '8:00 PM - 9:00 PM'
    }

    var modal = $(this)
    modal.find('.modal-body #name').text(name)
    modal.find('.modal-body #gender').text(gender)
    modal.find('.modal-body #branch').text(branch)
    modal.find('.modal-body #workdays').text(workDaysArrayString)
    modal.find('.modal-body #img').attr('src', `/assets/images/${img}`)
    modal.find('.modal-body #time').text(time)
    modal.find('.modal-body #type').text(type)
    modal.find('.modal-body #desc').text(desc)
    modal.find('.modal-footer .apply').val(id)

    $.post('/member/view/specialty', { id }).done(data =>{
      let specialties = []
      data.forEach(specialty => {
        specialties.push(specialty.specialname)
      })
      specialties = specialties.join(', ')
      modal.find('.modal-body #special').text(specialties)
    })
  })

 