extends ./tr-sub-head

block main	
	#navbar-hidden
		.container
			a.icon(href='/trainer')
				img.img-circle.xs(src='../../assets/img/icon.png', style='border:3px solid white;', alt='')
				b(style='font-size:15pt;margin-left: 10px; letter-spacing: 1px;') A-Team Fitness
			span#header_inbox_bar.dropdown
				a.bell.dropdown-toggle(data-toggle='dropdown', href='#')
					i.fa.fa-bell 
					- let hasUnreadNotifs = false
					- let hasNotif = false
					- let unreadNotifsCount = 0
					each notif in notifs
						if notif.notifstatus == 'unread'
							- hasUnreadNotifs = true
							- unreadNotifsCount += 1
					if hasUnreadNotifs
						span.badge.bg-theme #{unreadNotifsCount}
				ul.dropdown-menu.extended.inbox
					li
						p All Notifications
					each n in notifs
						if n.notifdate <= notifs[0].today
							- hasNotif = true
							li
								a(href='#')
									span.subject
										span.from(style='margin:0;') System
										span.time #{n.notifdate}
									span.message
									| #{n.userfname} #{n.userlname} #{n.notifdesc}
									span.message
									| at #{n.notiftime}
					if !hasNotif
						li
							a(href='#')
								span.subject
								span.message
								| No notifications yet

						//- li
						//- 	a(href='/') See all pending request
			div(style='float:right')
				span.sm(style='font-size: 12pt;')
					| Hello, 
					b #{hello.trainerfname} #{hello.trainerlname}!
				span.dropdown
					img.img-circle.dropdown-toggle(data-toggle='dropdown', src='/assets/img/ui-zac.jpg', alt='')
					ul.dropdown-menu.extended.tasks-bar(style='z-index:2000; position:absolute; top:30px;')
					
						li
							a(href='/logout')
								.task-info
									.desc
										span.li_lock
										| Logout
	#navbar
		.container
			a(href='/trainer')
				span.li_calendar
				|  Calendar
			a(href='/trainer/trainee')
				span.li_user
				| Trainee
			a(href='/trainer/pending')
				span.li_megaphone
				| Pending Request



